SHOE STORE
Finding the best location

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

!conda install -c conda-forge folium=0.5.0 --yes # the Foursquare API lab
import folium # map rendering library

!pip install xlrd
print('Libraries imported.')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Requirement already satisfied: xlrd in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.2.0)
Libraries imported.

In [2]:
df=pd.read_excel('met_10r_3gdp.xls', index_col=0, skiprows=8) #Gross domestic product (GDP) at current market prices by
                                                              #metropolitan regions.

Let's have a look at our dataframe

In [3]:
df.head(20)

,2013,2014,2015,2016,2017
METROREG/TIME,,,,,
Belgium,392340,400087,411010,424660,439052
Bruxelles / Brussel,119418,120651,124921,129224,132124
Antwerpen,44330.1,45601.8,46960.3,48411.1,50172.5
Gent,24428,25314.8,26364.9,27429.7,28434.4
Charleroi,10985.1,11127.2,11200,11324.5,11754.6
Liège,18717,18977,19201.1,19791.6,20541.8
Non-metropolitan regions in Belgium,174191,178146,182104,188298,195831
Bulgaria,41858.1,42824.4,45288.5,48128.6,51663
Sofia,18164.5,18518.8,19956.1,21266.1,22852.6
Plovdiv,3257.08,3223.72,3508.09,3858.37,4153.51
Varna,2722.09,2938.92,3046.94,3113.28,3335.26
Burgas,2080.92,1847.33,2182.72,2403.08,2579.32
Non-metropolitan regions in Bulgaria,15633.5,16295.6,16594.6,17487.8,18742.3
Czechia,157742,156660,168473,176370,191722
Praha,56337.7,55816.8,61471.2,65041.2,:
Brno,17433.8,17196,18408.8,18957,:
Ostrava,15291,15246.5,16127.2,16788.5,:
Plzen,8011.5,8098.74,8549.95,9012.92,:
Non-metropolitan regions in Czech Republic,60667.6,60301.9,63916.2,66570.5,:
Denmark,258743,265757,273018,282090,292806

Let's clear our data a little bit

In [4]:
  # reset the index, the old index is added as a column, and a new sequential index is used
df.reset_index(inplace=True) 

  # user friendly column name
df.rename(columns={"METROREG/TIME": "City"}, inplace=True) 

  # Remove rows with missing value in City column 
df.dropna(subset=["City"], axis=0, inplace=True)

  # Eurostat uses ":" for years without obseravtions, let replace ":" to NaN
df.replace(":", np.nan, inplace = True)

  # reset the index, this time no need to add a new column
df.reset_index(drop=True, inplace=True)

In [5]:
#let's see what we get
df.tail(20)

,City,2013,2014,2015,2016,2017
328,Blackburn - Blackpool - Preston,18605.2,19978.38,24713.92,23398.17,22597.88
329,Middlesbrough,12777,13887.42,15643.40,13958.70,13437.44
330,Oxford,25998.2,28992.48,33938.79,30955.76,29824.72
331,Norwich,9965.02,10807.20,12191.79,11370.61,10869.18
332,Cheshire West and Chester,19367.1,21130.68,24531.76,23009.47,22831.70
333,Ipswich,20044.7,21968.85,24859.02,22768.59,22252.27
334,Non-metropolitan regions in United Kingdom,447524,492396.90,563494.18,515114.13,498476.55
335,Norway,393966,376647.60,348408.40,335747.50,NaN
336,Oslo,97961,96240.08,93234.41,95106.68,NaN
337,Bergen,64904,63324.93,61488.46,58239.24,NaN
338,Montenegro,3362.5,3457.90,3654.50,3954.20,NaN
339,Non-metropolitan regions in Montenegro,3362.5,3457.90,3654.50,3954.20,NaN
340,North Macedonia,8149.6,8562.00,9072.30,9656.50,10013.90
341,Non-metropolitan regions in North Macedonia,8149.59,8562.01,9072.29,9656.50,NaN
342,Albania,9625.4,9968.60,10264.10,10740.00,NaN
343,Non-metropolitan regions in Albania,9625.39,9968.58,10264.10,10740.00,NaN
344,Serbia,NaN,NaN,35715.50,36723.00,39183.30
345,Turkey,714313,703411.60,772978.80,780224.90,753904.00
346,Special value:,NaN,NaN,NaN,NaN,NaN
347,NaN,not available,NaN,NaN,NaN,NaN

In [6]:
df1 = df.drop([df.index[346], df.index[347]]) #drop the last two rows, because they contain system information

As we can see in the table with cities GDP Eurostat included data for countries and Non-metropolitan regions, which we need to clear. Let's create a list with European countries.

In [7]:
countries = ['Austria', 'Bulgaria', 'Italy', 'Belgium', 'Latvia', 'Germany',
            'Lithuania', 'Croatia', 'Luxembourg', 'Cyprus', 'Malta', 'Czech Republic',
            'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Denmark',
            'Czechia', 'Netherlands', 'Spain', 'Estonia', 'Greece', 'Montenegro',
            'Finland', 'Norway', 'Albania', 'Turkey', 'Serbia', 'North Macedonia',
            'Hungary', 'Sweden', 'Ireland', 'United Kingdom', 'France']

Now, we'll create a list with indices of rows containing country name in City column

In [8]:
unwanted_indexes=[] # create a list
for i in range(len(df1)): 
    for country in countries:
        if country in (df1.loc[i,'City']): #checking if there is a city name in City or country and region
            unwanted_indexes.append(i) #creating our list

In [9]:
print(unwanted_indexes) #let's check what we've got

[0, 6, 7, 12, 13, 18, 19, 24, 25, 94, 95, 97, 98, 101, 102, 105, 106, 130, 131, 154, 166, 167, 170, 171, 193, 194, 196, 198, 199, 202, 203, 204, 205, 211, 212, 214, 215, 229, 230, 236, 237, 257, 258, 262, 263, 273, 274, 277, 278, 281, 282, 286, 287, 292, 293, 334, 335, 338, 339, 340, 341, 342, 343, 344, 345]

In [10]:
df1.drop(df1.index[unwanted_indexes], inplace=True) #remove rows with data not related to cities

Let's check whether we have missing values in our table.

In [11]:
missing_data = df1.isnull()
missing_data.tail(5)

      City   2013   2014   2015   2016   2017
331  False  False  False  False  False  False
332  False  False  False  False  False  False
333  False  False  False  False  False  False
336  False  False  False  False  False   True
337  False  False  False  False  False   True

In [12]:
for column in missing_data.columns.values.tolist(): #count the rows with missing data
    print(column)
    print (missing_data[column].value_counts())
    print("")

City
False    281
Name: City, dtype: int64

2013
False    216
True      65
Name: 2013, dtype: int64

2014
False    235
True      46
Name: 2014, dtype: int64

2015
False    280
True       1
Name: 2015, dtype: int64

2016
False    280
True       1
Name: 2016, dtype: int64

2017
True     216
False     65
Name: 2017, dtype: int64

There are no GDP data for 1 city in 2016 and 65 cities in 2017, let replace NaN with value 
from previous year.

In [13]:
df1["2016"].replace(np.nan, df1['2015'], inplace=True)

In [14]:
df1['2017'].replace(np.nan, df1['2016'], inplace=True)

In [15]:
df1

,City,2013,2014,2015,2016,2017
1,Bruxelles / Brussel,119418,120650.69,124921.15,129224.22,132123.86
2,Antwerpen,44330.1,45601.85,46960.27,48411.06,50172.51
3,Gent,24428,25314.76,26364.92,27429.66,28434.40
4,Charleroi,10985.1,11127.21,11200.02,11324.51,11754.60
5,Liège,18717,18976.99,19201.12,19791.64,20541.76
...,...,...,...,...,...,...
331,Norwich,9965.02,10807.20,12191.79,11370.61,10869.18
332,Cheshire West and Chester,19367.1,21130.68,24531.76,23009.47,22831.70
333,Ipswich,20044.7,21968.85,24859.02,22768.59,22252.27
336,Oslo,97961,96240.08,93234.41,95106.68,95106.68
337,Bergen,64904,63324.93,61488.46,58239.24,58239.24

Let's find the top cities by GDP. We will use data for 2017, because it's the newest.

In [16]:
df1.sort_values(by=['2017'], ascending=False, inplace=True)

In [17]:
city_gdp=df1.iloc[[0,1,2,3,4], [0, 5]]  #create dataframe with 5 top European cities by GDP for 2017
city_gdp.reset_index(drop=True, inplace=True)
city_gdp

      City       2017
0   London  763494.39
1    Paris  683962.00
2   Madrid  211782.00
3   Milano  200116.42
4  München  178945.00

In [18]:
city_gdp.rename(columns={"2017": "GDP"}, inplace=True) #further we'll use data for 2017
city_gdp

      City        GDP
0   London  763494.39
1    Paris  683962.00
2   Madrid  211782.00
3   Milano  200116.42
4  München  178945.00

In [19]:
top_cities=city_gdp['City'].tolist() #let's make a list with our top 5 cities
top_cities

['London', 'Paris', 'Madrid', 'Milano', 'München']

Now we have a dataframe with top 5 cities in Europe by GDP. 

The target group for "TP Collection" is aged 25-35, so let's try to find out the GDP for for this age group in each city.
From Eurostat we can get the data for total population of top cities and population aged 25-35 for the same cities. 
Using simple arithmetic calculations we can get the GDP for population aged 25-35.

In [20]:
df_yp= pd.read_excel('urb_cpop1.xls', index_col=0, skiprows=8)  #data for young population aged 25-35 for Europe
df_ttl= pd.read_excel('urb_cpop1 total.xls', index_col=0, skiprows=8) #data for total population for Europe
#for both files we have to skip the first 8 rows with system info

In [21]:
  # reset the index, the old index is added as a column, and a new sequential index is used
df_yp.reset_index(inplace=True) 
df_ttl.reset_index(inplace=True) 

  # user friendly column name
df_yp.rename(columns={"CITIES/TIME": "City"}, inplace=True)
df_ttl.rename(columns={"CITIES/TIME": "City"}, inplace=True)

  # Remove rows with missing value in City column 
df_yp.dropna(subset=["City"], axis=0, inplace=True)
df_ttl.dropna(subset=["City"], axis=0, inplace=True)

  # Eurostat uses ":" for years without obseravtions, let replace ":" to NaN
df_yp.replace(":", np.nan, inplace = True)
df_ttl.replace(":", np.nan, inplace = True)

  # reset the index, this time no need to add a new column
df_yp.reset_index(drop=True, inplace=True)
df_ttl.reset_index(drop=True, inplace=True)

In [22]:
df_yp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 5 columns):
City    1077 non-null object
2016    826 non-null object
2017    754 non-null float64
2018    731 non-null float64
2019    37 non-null float64
dtypes: float64(3), object(2)
memory usage: 42.2+ KB

In [23]:
df_ttl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 4 columns):
City    1077 non-null object
2016    844 non-null object
2017    754 non-null float64
2018    731 non-null float64
dtypes: float64(2), object(2)
memory usage: 33.8+ KB

Both dataframes consists of 1078 entries, so we can process them simultaneously.

In [24]:
yp_ind=[] # create a list for top cities indices in young population
ttl_ind=[] # create a list for top cities indices in total population
for i in range(len(df_yp)-2): 
    for t_city in top_cities:
        if t_city in (df_yp.loc[i,'City']): #checking if this is our top city in City
            yp_ind.append(i) #creating our list with top city indexes
        if t_city in (df_ttl.loc[i,'City']): #checking if this is our top city in City
            ttl_ind.append(i) #creating our list with top city indexes

In [25]:
# drop all rows that are not related to our 5 top cities
df_yp = df_yp.iloc[yp_ind]
df_ttl = df_ttl.iloc[ttl_ind]

In [26]:
# reset the index, no need to add a new column
df_yp.reset_index(drop=True, inplace=True)
df_ttl.reset_index(drop=True, inplace=True)

In [27]:
df_yp

                     City     2016       2017       2018  2019
0                 München   271272   273702.0   267864.0   NaN
1                  Madrid   418732   414425.0   420788.0   NaN
2                  Madrid   645076   630076.0   628193.0   NaN
3    Rozas de Madrid, Las    10573    10272.0     9958.0   NaN
4                   Paris  1497168        NaN        NaN   NaN
5    Paris (greater city)      NaN        NaN        NaN   NaN
6           CA le Parisis      NaN        NaN        NaN   NaN
7                  Milano   160802   161447.0   163680.0   NaN
8   Milano (greater city)   447832   444657.0   443827.0   NaN
9   London (greater city)  1691837  1669610.0  1644020.0   NaN
10         City of London     2080      999.0     1222.0   NaN

In [28]:
df_ttl

                     City     2016       2017       2018
0                 München  1450381  1464301.0  1456039.0
1                  Madrid  3165541  3182981.0  3223334.0
2                  Madrid  4878277  4904291.0  4955432.0
3    Rozas de Madrid, Las    94471    95071.0    95550.0
4                   Paris  9803494        NaN        NaN
5    Paris (greater city)      NaN        NaN        NaN
6           CA le Parisis      NaN        NaN        NaN
7                  Milano  1345851  1351562.0  1366180.0
8   Milano (greater city)  4074585  4087060.0  4106356.0
9   London (greater city)  8730803  8797330.0  8866541.0
10         City of London     9081     7450.0     8180.0

The dataframe is still not perfect: we have several entries for the same city and total of 12 rows of data for 5 cities! 
Eurostat include data for cities and greater cities too and there are cases when cities names include other city names...
People from greater cities could be clients for "TP collections" too, so let everywhere use data for greater cities and drop unnecessary data.

In [29]:
df_yp.drop(df_yp.index[[1,3,5,6,7,10]], inplace=True)
df_ttl.drop(df_ttl.index[[1,3,5,6,7,10]], inplace=True)
df_yp.reset_index(drop=True, inplace=True)
df_ttl.reset_index(drop=True, inplace=True)

In [30]:
df_yp

                    City     2016       2017       2018  2019
0                München   271272   273702.0   267864.0   NaN
1                 Madrid   645076   630076.0   628193.0   NaN
2                  Paris  1497168        NaN        NaN   NaN
3  Milano (greater city)   447832   444657.0   443827.0   NaN
4  London (greater city)  1691837  1669610.0  1644020.0   NaN

In [31]:
df_ttl

                    City     2016       2017       2018
0                München  1450381  1464301.0  1456039.0
1                 Madrid  4878277  4904291.0  4955432.0
2                  Paris  9803494        NaN        NaN
3  Milano (greater city)  4074585  4087060.0  4106356.0
4  London (greater city)  8730803  8797330.0  8866541.0

In [32]:
# For Paris we don't have data for 2017 and 2018, so let's copy it from 2016 in both datarframes
df_ttl.iloc[2,3]=df_ttl.iloc[2,1]
df_yp.iloc[2,3]=df_yp.iloc[2,1]

In [33]:
df_yp.drop(columns=['2016', '2017', '2019'], inplace=True) #drop unnecessary data for 2016, 2017 and column 
                                                            #for 2019 - there are only NaN.
df_ttl.drop(columns=['2016', '2017'], inplace=True)
df_yp.sort_values(by=['2018'], ascending=False, inplace=True)
df_ttl.sort_values(by=['2018'], ascending=False, inplace=True)
df_yp.reset_index(drop=True, inplace=True)
df_ttl.reset_index(drop=True, inplace=True)

In [34]:
df_yp.rename(columns={"2018": "POP_25-35"}, inplace=True) #further we'll use data for 2018

In [35]:
df_ttl.loc[df_ttl.City =='Milano (greater city)', 'City'] = 'Milano'
df_ttl.loc[df_ttl.City =='London (greater city)', 'City'] = 'London'
df_ttl.rename(columns={"2018": "POP_total"}, inplace=True) #further we'll use data for 2018
df_ttl

      City  POP_total
0    Paris  9803494.0
1   London  8866541.0
2   Madrid  4955432.0
3   Milano  4106356.0
4  München  1456039.0

And the last thing, let's rename Milano (greater city) to Milano, the same procedure with London

In [37]:
df_yp.loc[df_yp.City =='Milano (greater city)', 'City'] = 'Milano'
df_yp.loc[df_yp.City =='London (greater city)', 'City'] = 'London'

In [38]:
# In order to calculate the proportion of population 25-34 to the total population for each of top 5 cities
# we have to divide values from datafrom df_yp to df_ttl, but we can't do it directly because cities are not in the same order
# let's arrange dataframes once more time
df_yp.sort_values(by=['City'], ascending=False, inplace=True)
df_ttl.sort_values(by=['City'], ascending=False, inplace=True)
df_yp.loc[:,'POP_25-35'] = df_yp.loc[:,'POP_25-35']/df_ttl.loc[:,'POP_total']

In [39]:
df_yp

      City  POP_25-35
1    Paris   0.168856
4  München   0.183968
3   Milano   0.108083
2   Madrid   0.126769
0   London   0.167697

OK, now we have the top 5 cities in Europe by GDP in city_gdp and proportion of population 25-34 to total population df_yp in these cities.
This data will help us to understand the purchasing power of population 25-34 in each city.

In [40]:
city_gdp

      City        GDP
0   London  763494.39
1    Paris  683962.00
2   Madrid  211782.00
3   Milano  200116.42
4  München  178945.00

In [42]:
gdp_final = pd.merge(df_yp, city_gdp, how='left', on=['City']) # merge two dataframes
gdp_final['gdp_25_35']=gdp_final['GDP']*gdp_final['POP_25-35']        # calculate the GDP for population aged 25-35
gdp_final.sort_values(by=['gdp_25_35'], ascending=False, inplace=True)
gdp_final.reset_index(drop=True, inplace=True)
gdp_final

      City  POP_25-35        GDP      gdp_25_35
0   London   0.167697  763494.39  128035.988704
1    Paris   0.168856  683962.00  115491.037555
2  München   0.183968  178945.00   32920.082141
3   Madrid   0.126769  211782.00   26847.300079
4   Milano   0.108083  200116.42   21629.169594

Now we have a list with 5 top European cities based on purchasing power of population aged 25-35.
As we can see, London is at the top with Paris very close to it.
The next city Munich, has only about one fourth of London's purchasing power for this group!

Our next metric is purchasing power of tourists, visiting our top European cities. 
From Eurostat web page we can get information about number of nights spent in the city by tourists per year, which is very close to our metric.  
Let's arrange top cities according number of nights spent in the city by tourists per year.

In [43]:
df_tour = pd.read_excel('urb_ctour.xls', index_col=0, skiprows=8) #Excel file with number of nights spent by torists in Europe

In [44]:
df_tour.reset_index(inplace=True)
df_tour.tail(15)

        CITIES/TIME 2014 2015 2016
924         Utrecht    :    :    :
925       Eindhoven    :    :    :
926          Arnhem    :    :    :
927         Heerlen    :    :    :
928         Haarlem    :    :    :
929          Leiden    :    :    :
930             Ede    :    :    :
931         Alkmaar    :    :    :
932         Belfast    :    :    :
933           Derry    :    :    :
934         Fareham    :    :    :
935         Lisburn    :    :    :
936             NaN  NaN  NaN  NaN
937  Special value:  NaN  NaN  NaN
938               :  NaN  NaN  NaN

In [45]:
df_tour.rename(columns={"CITIES/TIME": "City"}, inplace=True)

In [46]:
df_tour.head()

                  City 2014      2015      2016
0              Belgium    :  38380415  34083462
1  Bruxelles / Brussel    :   6443213   5210495
2            Antwerpen    :         :         :
3                 Gent    :         :         :
4            Charleroi    :    242703    247045

Let's filter the data and select entries related to our top cities

In [47]:
top_cities=['London', 'Paris', 'Madrid', 'Milano', 'München']
tour_ind=[] # create a list for top countries indices
for i in range(len(df_tour)-3): 
    for t_city in top_cities:
            if t_city in (df_tour.loc[i,'City']): #checking if this is our top city in City
                tour_ind.append(i) #creating our list with top city indexes

In [48]:
df_tour = df_tour.iloc[tour_ind] #dropping unecessary cities

In [49]:
df_tour.reset_index(drop=True, inplace=True)
  # Eurostat uses ":" for years without obseravtions, let replace ":" to NaN
df_tour.replace(":", np.nan, inplace = True)
df_tour

                   City        2014        2015        2016
0               München  13448024.0  14066212.0  14041090.0
1                Madrid  17723714.0  19292547.0  19844222.0
2  Rozas de Madrid, Las         NaN         NaN         NaN
3                 Paris  14960029.0  14126682.0  13058510.0
4         CA le Parisis    120732.0    117918.0    107777.0
5                Milano  10232396.0  11741374.0  10976244.0
6        City of London         NaN         NaN         NaN

Again resulting dataframe is not perfect - we've got data for cities containing names from our list (we already know how to handle them), but more surprisingly there is no data for London....

In [50]:
df_tour.drop(df_tour.index[[2,4]], inplace=True) #drop rows for other cities
df_tour.reset_index(drop=True, inplace=True)
df_tour.drop(columns=['2014', '2015'], inplace=True) #drop columns for previous years
df_tour.loc[df_tour.City =='City of London', 'City'] = 'London' #rename London
df_tour.rename(columns={"2016": "Tourists"}, inplace=True) #rename column with nights spent simply to Tourists 
df_tour

      City    Tourists
0  München  14041090.0
1   Madrid  19844222.0
2    Paris  13058510.0
3   Milano  10976244.0
4   London         NaN

In [51]:
# Let's replace NaN for London with mean for other 4 cities
df_tour["Tourists"].replace(np.nan, df_tour['Tourists'].astype('float').mean(axis=0), inplace=True)
# normalize data
df_tour['Tourists'] = df_tour['Tourists']/df_tour['Tourists'].max() #normalize data
df_tour.sort_values(by=['Tourists'], ascending=False, inplace=True)
df_tour

      City  Tourists
1   Madrid  1.000000
4   London  0.729684
0  München  0.707566
2    Paris  0.658051
3   Milano  0.553120

OK, at this point we have the top 5 cities in Europe by GDP in df_gdp, proportion of population 25-34 to total population df_yp in these cities.
This data will help us to understand the purchasing power of population 25-34 in each city. Additionally we've got data for tourists.
These data will help us to estimate the purchasing potential of cities.

The next criteria is so called 'index of doing business' An economy’s ease of doing business score is reflected on a scale from 0 to 100, where 0 represents the lowest and 100 represents the best performance.

In [52]:
df_dtf1 = pd.read_excel('Rankings.xlsx', index_col=0) #Excel file with data from the World bank

In [53]:
df_dtf1.head()

,globalRank,Rank within group,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency
Economy,,,,,,,,,,,,
New Zealand,1.0,1.0,1.0,7.0,48.0,2.0,1.0,3.0,9.0,63.0,23.0,36.0
Singapore,2.0,2.0,4.0,5.0,19.0,21.0,37.0,3.0,7.0,47.0,1.0,27.0
"Hong Kong SAR, China",3.0,3.0,5.0,1.0,3.0,51.0,37.0,7.0,2.0,29.0,31.0,45.0
Denmark,4.0,4.0,45.0,4.0,21.0,11.0,48.0,28.0,8.0,1.0,14.0,6.0
"Korea, Rep.",5.0,5.0,33.0,12.0,2.0,40.0,67.0,25.0,21.0,36.0,2.0,11.0

In [54]:
df_dtf=df_dtf1[['Starting a Business']] # for "TP collection" overall metric is no so important as starting a business
df_dtf.head()

                      Starting a Business
Economy
New Zealand                           1.0
Singapore                             4.0
Hong Kong SAR, China                  5.0
Denmark                              45.0
Korea, Rep.                          33.0

In [55]:
df_dtf.reset_index(inplace=True)
df_dtf.head()

                Economy  Starting a Business
0           New Zealand                  1.0
1             Singapore                  4.0
2  Hong Kong SAR, China                  5.0
3               Denmark                 45.0
4           Korea, Rep.                 33.0

As we can see the data is related to countries not to cities, so we have to create a list with countries where our top 5 cities belongs to.

In [56]:
top_cities

['London', 'Paris', 'Madrid', 'Milano', 'München']

In [57]:
top_countries=['United Kingdom', 'France', 'Spain', 'Italy', 'Germany']

In [58]:
tc_ind=[] # create a list for top countries indices
for i in range(len(df_dtf)): 
    for t_country in top_countries:
            if t_country in (df_dtf.loc[i,'Economy']): #checking if this is our top country
                tc_ind.append(i) #creating our list with top counties indexes

In [59]:
tc_ind

[7, 21, 29, 31, 57]

In [60]:
# drop all rows that are not related to our 5 top cities
df_dtf = df_dtf.iloc[tc_ind]

In [61]:
df_dtf

           Economy  Starting a Business
7   United Kingdom                 18.0
21         Germany                125.0
29           Spain                 97.0
31          France                 37.0
57           Italy                 98.0

In [62]:
df_dtf.reset_index(drop=True, inplace=True)
    #replace the name of the country with respective city
df_dtf.loc[df_dtf.Economy =='France', 'Economy'] = 'Paris'
df_dtf.loc[df_dtf.Economy =='Germany', 'Economy'] = 'München'
df_dtf.loc[df_dtf.Economy =='Italy', 'Economy'] = 'Milano'
df_dtf.loc[df_dtf.Economy =='Spain', 'Economy'] = 'Madrid'
df_dtf.loc[df_dtf.Economy =='United Kingdom', 'Economy'] = 'London'
df_dtf.rename(columns={"Economy": "City"}, inplace=True)

In [63]:
df_dtf.sort_values(by=['Starting a Business'], inplace=True)  
df_dtf.reset_index(drop=True, inplace=True)
df_dtf

      City  Starting a Business
0   London                 18.0
1    Paris                 37.0
2   Madrid                 97.0
3   Milano                 98.0
4  München                125.0

The value in column "Starting a Business" is a position of the city in the global ranking, i.e. 1 is the top position. For our further analysis is good to have normalized data with values between 0 and 1 where the top is 1.

In [64]:
df_dtf['Starting a Business'] = 1 - df_dtf['Starting a Business']/df_dtf['Starting a Business'].max() #normalize data
df_dtf

      City  Starting a Business
0   London                0.856
1    Paris                0.704
2   Madrid                0.224
3   Milano                0.216
4  München                0.000

Now we have top cities ranked by ease of doingbusiness.

Let's look again at our previous two city rankings: by purchasing power of population 25-35 and purchasing power of tourists

In [66]:
gdp_final

      City  POP_25-35        GDP      gdp_25_35
0   London   0.167697  763494.39  128035.988704
1    Paris   0.168856  683962.00  115491.037555
2  München   0.183968  178945.00   32920.082141
3   Madrid   0.126769  211782.00   26847.300079
4   Milano   0.108083  200116.42   21629.169594

In [67]:
gdp_final.drop(columns=['POP_25-35', 'GDP'], inplace=True) # drop unnecessary columns
gdp_final['gdp_25_35'] = gdp_final['gdp_25_35']/gdp_final['gdp_25_35'].max() #normalize data
gdp_final

      City  gdp_25_35
0   London   1.000000
1    Paris   0.902020
2  München   0.257116
3   Madrid   0.209686
4   Milano   0.168930

In [68]:
df_tour

      City  Tourists
1   Madrid  1.000000
4   London  0.729684
0  München  0.707566
2    Paris  0.658051
3   Milano  0.553120

In [69]:
    # merge data for GDP 
city_rank=df_dtf.merge(gdp_final, left_on='City', right_on='City')
city_rank

      City  Starting a Business  gdp_25_35
0   London                0.856   1.000000
1    Paris                0.704   0.902020
2   Madrid                0.224   0.209686
3   Milano                0.216   0.168930
4  München                0.000   0.257116

In [70]:
    # merge data for population 25-35 
city_rank=city_rank.merge(df_tour, left_on='City', right_on='City')
city_rank

      City  Starting a Business  gdp_25_35  Tourists
0   London                0.856   1.000000  0.729684
1    Paris                0.704   0.902020  0.658051
2   Madrid                0.224   0.209686  1.000000
3   Milano                0.216   0.168930  0.553120
4  München                0.000   0.257116  0.707566

Now we have all required data in one dataframe and easily can calculate the overall ranking. 
It seems reasonable to set weight coefficients of 0.7 for metric purchasing power of population 25-35 and 0.15 for both metrics tourists ranking and Doing Business and find which city will get maximum score.

In [71]:
city_rank['Rank'] = city_rank['gdp_25_35']*0.7 + (city_rank['Starting a Business'] + city_rank['Tourists'])*0.15
city_rank['Rank'] = city_rank['Rank']/city_rank['Rank'].max() #normalize data
city_rank

      City  Starting a Business  gdp_25_35  Tourists      Rank
0   London                0.856   1.000000  0.729684  1.000000
1    Paris                0.704   0.902020  0.658051  0.891101
2   Madrid                0.224   0.209686  1.000000  0.352273
3   Milano                0.216   0.168930  0.553120  0.249100
4  München                0.000   0.257116  0.707566  0.305076

The overall ranking leader is London.

Now, let's find the best location in London.

In [72]:
# library for BeautifulSoup, for web scrapping
!pip install lxml
!pip install bs4
from bs4 import BeautifulSoup# library to handle data in a vectorized manner
import numpy as np# library for data analsysis
from pandas import DataFrame
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)# library to handle JSON files
import json
print('numpy, pandas, ..., imported...')
!pip -q install geopy
print('geopy installed...')# convert an address into latitude and longitude values
from geopy.geocoders import Nominatim
print('Nominatim imported...')# library to handle requests
import requests
print('requests imported...')# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize
print('json_normalize imported...')# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
print('matplotlib imported...')# import k-means from clustering stage
from sklearn.cluster import KMeans
print('Kmeans imported...')# install the Geocoder
!pip -q install geocoder
import geocoder# import time
import time
!pip -q install folium
print('folium installed...')
import folium # map rendering library
print('folium imported...')
print('...Done')

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/68/30/affd16b77edf9537f5be051905f33527021e20d563d013e8c42c7fd01949/lxml-4.4.2-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 6.9MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.2
Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/cb/a1/c698cf319e9cfed6b17376281bd0efc6bfc8465698f54170ef60a485ab5d/beautifulsoup4-4.8.2-py3-none-any.whl (106kB)
     |████████████████████████████████| 112kB 6.4MB/s eta 0:00:01
Collecting soupsieve>=1.2 (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/81/94/03c0f04471fc245d08d0a99f7946ac228ca98da4fa75796c507f61e688c2/soupsieve-1.9.5-py2.py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.8.2 bs4-0.0.1 soupsieve-1.9.5
numpy, pandas, ..., imported...
geopy installed...
Nominatim imported...
requests imported...
json_normalize imported...
matplotlib imported...
Kmeans imported...
folium installed...
folium imported...
...Done

In [73]:
# We can import List of areas of London from Wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'
areas_London_url = requests.get(url)
areas_London_url

In [74]:
# The response code is 200 which is OK and we can go further
london_areas_data = pd.read_html(areas_London_url.text) #extract data from web page
len(london_areas_data), type(london_areas_data)

(5, list)

In [75]:
london_areas_data

[                                                   0
 0  Map all coordinates in "Category:Areas of Lond...
 1                 Download coordinates as: KML · GPX,
                                            Location  \
 0                                        Abbey Wood
 1                                             Acton
 2                                         Addington
 3                                        Addiscombe
 4                                       Albany Park
 5                                  Aldborough Hatch
 6                                           Aldgate
 7                                           Aldwych
 8                                          Alperton
 9                                           Anerley
 10                                            Angel
 11                                        Aperfield
 12                                          Archway
 13                                   Ardleigh Green
 14                                           Arkley
 15                                      Arnos Grove
 16                                           Balham
 17                                         Bankside
 18                                         Barbican
 19                                          Barking
 20                                      Barkingside
 21                                       Barnehurst
 22                                           Barnes
 23                                      Barnes Cray
 24                                      Barnet Gate
 25       Barnet (also Chipping Barnet, High Barnet)
 26                                        Barnsbury
 27                                        Battersea
 28                                        Bayswater
 29                                        Beckenham
 30                                          Beckton
 31                                        Becontree
 32                                  Becontree Heath
 33                                       Beddington
 34                                     Bedford Park
 35                                        Belgravia
 36                                       Bellingham
 37                                          Belmont
 38                                          Belmont
 39                                     Belsize Park
 40                                        Belvedere
 41                                       Bermondsey
 42                                       Berrylands
 43                                    Bethnal Green
 44         Bexley (also Old Bexley, Bexley Village)
 45               Bexleyheath (also Bexley New Town)
 46                                          Bickley
 47                                      Biggin Hill
 48                                         Blackfen
 49                                      Blackfriars
 50                                       Blackheath
 51                        Blackheath Royal Standard
 52                                        Blackwall
 53                                          Blendon
 54                                       Bloomsbury
 55                                       Botany Bay
 56                                     Bounds Green
 57                                              Bow
 58                                       Bowes Park
 59                                        Brentford
 60                                      Brent Cross
 61                                       Brent Park
 62                                        Brimsdown
 63                                          Brixton
 64                                         Brockley
 65                                          Bromley
 66                    Bromley (also Bromley-by-Bow)
 67                                   Bromley Common
 68                                         Brompton
 69                                      Brondesbury
 70                                   Brunswick Park
 71                                      Bulls Cross
 72                                        Burnt Oak
 73                                   Burroughs, The
 74                                       Camberwell
 75                                  Cambridge Heath
 76                                      Camden Town
 77                                     Canary Wharf
 78                                        Cann Hall
 79                                     Canning Town
 80                                        Canonbury
 81                                       Carshalton
 82                                        Castelnau
 83                                     Castle Green
 84                                          Catford
 85                                   Chadwell Heath
 86                                       Chalk Farm
 87                                    Charing Cross
 88                                         Charlton
 89                                      Chase Cross
 90                                            Cheam
 91                                          Chelsea
 92                                       Chelsfield
 93                                      Chessington
 94                                      Childs Hill
 95                                        Chinatown
 96                                        Chinbrook
 97                                        Chingford
 98                                      Chislehurst
 99                                         Chiswick
 100                                      Church End
 101                                      Church End
 102                                         Clapham
 103                                     Clerkenwell
 104                                     Cockfosters
 105                                       Colindale
 106                                     Collier Row
 107                                   Colliers Wood
 108                                    Colney Hatch
 109                                         Colyers
 110                                      Coney Hall
 111                                          Coombe
 112                                          Coombe
 113                                        Coulsdon
 114                                   Covent Garden
 115                                          Cowley
 116                                        Cranford
 117                                         Cranham
 118                                        Crayford
 119                                      Creekmouth
 120                                      Crews Hill
 121                                     Cricklewood
 122                                    Crofton Park
 123                                       Crook Log
 124                                       Crossness
 125                                      Crouch End
 126                                         Croydon
 127                                  Crystal Palace
 128                                     Cubitt Town
 129                                          Cudham
 130                                    Custom House
 131                                        Dagenham
 132                                         Dalston
 133                                        Dartford
 134                                De Beauvoir Town
 135                                    Denmark Hill
 136                                        Deptford
 137                                     Derry Downs
 138                                     Dollis Hill
 139                                           Downe
 140                                         Downham
 141                                         Dulwich
 142                                          Ealing
 143                                     Earls Court
 144                                      Earlsfield
 145                                     East Barnet
 146                                    East Bedfont
 147                                    East Dulwich
 148                                   East Finchley
 149                                        East Ham
 150                                      East Sheen
 151                                    East Wickham
 152                                        Eastcote
 153                                       Eden Park
 154                                         Edgware
 155                                        Edmonton
 156                                  Eel Pie Island
 157                             Elephant and Castle
 158                                        Elm Park
 159                                      Elmers End
 160                                        Elmstead
 161                                          Eltham
 162                                    Emerson Park
 163                                 Enfield Highway
 164                                    Enfield Lock
 165                                    Enfield Town
 166                                    Enfield Wash
 167                                           Erith
 168                                      Falconwood
 169                                      Farringdon
 170                                         Feltham
 171                                        Finchley
 172                                        Finsbury
 173                                   Finsbury Park
 174                                       Fitzrovia
 175                                      Foots Cray
 176                                     Forest Gate
 177                                     Forest Hill
 178                                      Forestdale
 179                                    Fortis Green
 180                                     Freezywater
 181                                   Friern Barnet
 182                                         Frognal
 183                                          Fulham
 184                                         Fulwell
 185                                  Gallows Corner
 186                                      Gants Hill
 187                                      Gidea Park
 188                                      Gipsy Hill
 189                                      Goddington
 190                                   Golders Green
 191                                       Goodmayes
 192                                      Gospel Oak
 193                                    Grahame Park
 194                                     Grange Park
 195                                       Greenford
 196                                       Greenwich
 197                                      Grove Park
 198                                      Grove Park
 199                                     Gunnersbury
 200                                         Hackney
 201                                 Hackney Central
 202                                 Hackney Marshes
 203                                    Hackney Wick
 204                                     Hadley Wood
 205                                      Haggerston
 206                                        Hainault
 207                                        The Hale
 208                                             Ham
 209                                     Hammersmith
 210                                       Hampstead
 211                         Hampstead Garden Suburb
 212                                         Hampton
 213                                    Hampton Hill
 214                                    Hampton Wick
 215                                         Hanwell
 216                                        Hanworth
 217                                       Harefield
 218                                       Harlesden
 219                                      Harlington
 220                                   Harmondsworth
 221                                     Harold Hill
 222                                     Harold Park
 223                                     Harold Wood
 224                                       Harringay
 225                                          Harrow
 226                              Harrow on the Hill
 227                                    Harrow Weald
 228                                       Hatch End
 229                                          Hatton
 230                             Havering-atte-Bower
 231                                           Hayes
 232                                           Hayes
 233                                       Hazelwood
 234                                          Hendon
 235                                      Herne Hill
 236                                          Heston
 237                                    Highams Park
 238                                        Highbury
 239                                        Highgate
 240                                      Hillingdon
 241                                    Hither Green
 242                                         Holborn
 243                                    Holland Park
 244                                        Holloway
 245                                        Homerton
 246                                       Honor Oak
 247                                            Hook
 248                                      Hornchurch
 249                                       Horn Park
 250                                         Hornsey
 251                                        Hounslow
 252                                          Hoxton
 253                                        The Hyde
 254                                        Ickenham
 255                                          Ilford
 256                                    Isle of Dogs
 257                                       Isleworth
 258                                       Islington
 259                                          Kenley
 260                                      Kennington
 261                                    Kensal Green
 262                                      Kensington
 263                                    Kentish Town
 264                                          Kenton
 265                                          Keston
 266                                             Kew
 267                                       Kidbrooke
 268                                         Kilburn
 269                                    King's Cross
 270                                       Kingsbury
 271                                   Kingston Vale
 272                            Kingston upon Thames
 273                                   Knightsbridge
 274                                        Ladywell
 275                                         Lambeth
 276                                        Lamorbey
 277                                         Lampton
 278                                      Lea Bridge
 279                                        Leamouth
 280                                    Leaves Green
 281                                             Lee
 282                                  Lessness Heath
 283                                        Lewisham
 284                                          Leyton
 285                                     Leytonstone
 286                                       Limehouse
 287                                    Lisson Grove
 288                                   Little Ilford
 289                                   Little Venice
 290                                     Locksbottom
 291                                        Longford
 292                                       Longlands
 293                                   Lower Clapton
 294                                    Lower Morden
 295                                         Loxford
 296                                      Maida Vale
 297                                  Malden Rushett
 298                                     Manor House
 299                                      Manor Park
 300                                      Marks Gate
 301                                        Maryland
 302                 Marylebone (also St Marylebone)
 303                                         Mayfair
 304                                       Maze Hill
 305                                     Merton Park
 306                                     Middle Park
 307                                        Mile End
 308                                       Mill Hill
 309                                        Millbank
 310                                        Millwall
 311                                         Mitcham
 312                                   Monken Hadley
 313                                          Morden
 314                                     Morden Park
 315                                        Mortlake
 316                                    Motspur Park
 317                                      Mottingham
 318                                    Muswell Hill
 319                                      Nag's Head
 320                                         Neasden
 321                                   New Addington
 322                                      New Barnet
 323                                       New Cross
 324                                      New Eltham
 325                                      New Malden
 326                                   New Southgate
 327                                    Newbury Park
 328                                       Newington
 329                                       Nine Elms
 330                                       Noak Hill
 331                                        Norbiton
 332                                         Norbury
 333                                      North Cray
 334                                       North End
 335                                  North Finchley
 336                                    North Harrow
 337                                North Kensington
 338                                  North Ockendon
 339                                     North Sheen
 340                                  North Woolwich
 341                                        Northolt
 342                            Northumberland Heath
 343                                       Northwood
 344                                   Norwood Green
 345                                    Notting Hill
 346                                         Nunhead
 347                                   Oakleigh Park
 348                                    Old Coulsdon
 349                                        Old Ford
 350                                      Old Malden
 351                                  Old Oak Common
 352                                       Orpington
 353                                          Osidge
 354                                        Osterley
 355                                            Oval
 356                                      Paddington
 357                                   Palmers Green
 358                                      Park Royal
 359                                   Parsons Green
 360                                         Peckham
 361                                           Penge
 362                                     Pentonville
 363                                        Perivale
 364                                       Petersham
 365                                      Petts Wood
 366                                         Pimlico
 367                                          Pinner
 368                                        Plaistow
 369                                        Plaistow
 370                                       Plumstead
 371                                     Ponders End
 372                                          Poplar

In [76]:
# There are a lot of different information at the web page. The table, which we are looking for is in the section Nr.1
df_lon1=london_areas_data[1] #create data frame from the table

In [77]:
df_lon1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 6 columns):
Location             533 non-null object
London borough       533 non-null object
Post town            533 non-null object
Postcode district    533 non-null object
Dial code            533 non-null object
OS grid ref          531 non-null object
dtypes: object(6)
memory usage: 25.1+ KB

In [78]:
df_lon1.head()

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

First, let make some cleaning.
There are some useless columns like Dial code and OS grid ref. We can drop them safely.
But when we tried to drop them, we received warning "['Dial code'] not found in axis". So, there are no such column..... Maybe there are some invisible special characters in the column name? Let's get the names.

In [79]:
columnsNamesArr = df_lon1.columns.values
columnsNamesArr

array(['Location', 'London\xa0borough', 'Post town',
       'Postcode\xa0district', 'Dial\xa0code', 'OS grid ref'],
      dtype=object)

Our suggestion was correct... We have to state the column names exactly as they are.

In [80]:
df_lon2=df_lon1.drop(columns=['Dial\xa0code', 'OS grid ref'])                 #
df_lon2.rename(columns={'London\xa0borough': 'Borough'}, inplace=True)        # now everything is OK with column names
df_lon2.rename(columns={'Postcode\xa0district': 'Postcode'}, inplace=True)    #
df_lon2.head()

      Location                            Borough       Post town   Postcode
0   Abbey Wood              Bexley, Greenwich [7]          LONDON        SE2
1        Acton  Ealing, Hammersmith and Fulham[8]          LONDON     W3, W4
2    Addington                         Croydon[8]         CROYDON        CR0
3   Addiscombe                         Croydon[8]         CROYDON        CR0
4  Albany Park                             Bexley  BEXLEY, SIDCUP  DA5, DA14

In [81]:
# In Borough column some of entries have reference numbers in square brackets. Let's clear them.
df_lon2['Borough'] = df_lon2['Borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))
df_lon2.head()

      Location                         Borough       Post town   Postcode
0   Abbey Wood              Bexley, Greenwich           LONDON        SE2
1        Acton  Ealing, Hammersmith and Fulham          LONDON     W3, W4
2    Addington                         Croydon         CROYDON        CR0
3   Addiscombe                         Croydon         CROYDON        CR0
4  Albany Park                          Bexley  BEXLEY, SIDCUP  DA5, DA14

Now we can find location coordinates by Postcode using Geocoder

In [82]:
# Defining a function to use --> get_latlng()'''
def get_latlng(arcgis_geocoder):
    
    # Initialize the Location (lat. and long.) to "None"
    lat_lng_coords = None
    
    # While loop helps to create a continous run until all the location coordinates are geocoded
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, London, United Kingdom'.format(arcgis_geocoder))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [84]:
postal_codes = df_lon2['Postcode']    
coordinates = [get_latlng(postal_code) for postal_code in postal_codes.tolist()]
# It's a long process and may takes few minutes

In [85]:
coordinates

[[51.492450000000076, 0.12127000000003818],
 [51.51324000000005, -0.2674599999999714],
 [51.38475500000004, -0.051498623999975734],
 [51.38475500000004, -0.051498623999975734],
 [51.452067760578885, 0.1722299153689439],
 [51.50642000000005, -0.1272099999999341],
 [51.51200000000006, -0.08057999999994081],
 [51.51651000000004, -0.11967999999995982],
 [51.50642000000005, -0.1272099999999341],
 [51.41009000000008, -0.05682999999993399],
 [51.523610000000076, -0.09876999999994496],
 [51.27172802817503, 0.07471050704375404],
 [51.56393000000003, -0.12944999999996298],
 [51.50642000000005, -0.1272099999999341],
 [51.615680000000054, -0.2451099999999542],
 [51.63429000000008, -0.13365999999996347],
 [51.44822000000005, -0.1483899999999494],
 [51.499600000000044, -0.09612999999995964],
 [51.523610000000076, -0.09876999999994496],
 [51.53312000000005, 0.08407653200004006],
 [51.50642000000005, -0.1272099999999341],
 [51.47052000000008, 0.14670637700004363],
 [51.47457000000003, -0.24211999999994305],
 [51.50642000000005, -0.1272099999999341],
 [51.615680000000054, -0.2451099999999542],
 [51.64441500000004, -0.17918542799992565],
 [51.53792000000004, -0.09982999999994036],
 [51.46760000000006, -0.16289999999997917],
 [51.51494000000008, -0.1804799999999318],
 [51.41009000000008, -0.05682999999993399],
 [51.50913000000003, 0.015280000000075233],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.38475500000004, -0.051498623999975734],
 [51.48944000000006, -0.26193999999992457],
 [51.49713000000003, -0.13828999999992675],
 [51.43722000000008, -0.018679999999960728],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.555060000000026, -0.1734799999999268],
 [51.48547000000008, 0.14300741500005643],
 [51.499600000000044, -0.09612999999995964],
 [51.50642000000005, -0.1272099999999341],
 [51.52669000000003, -0.06256999999993695],
 [51.50642000000005, -0.1272099999999341],
 [51.492450000000076, 0.12127000000003818],
 [51.415095000000065, -0.035402759999954014],
 [51.27172802817503, 0.07471050704375404],
 [51.50642000000005, -0.1272099999999341],
 [51.51389000000006, -0.10433999999997923],
 [51.47138000000007, 0.023380000000031487],
 [51.44759000000005, 0.013500000000021828],
 [51.51122000000004, -0.012639999999976226],
 [51.50642000000005, -0.1272099999999341],
 [51.524500000000046, -0.12272999999993317],
 [51.65366000000006, -0.11061428599992951],
 [51.60214000000008, -0.11222999999995409],
 [51.52702000000005, -0.02593999999993457],
 [51.60214000000008, -0.11222999999995409],
 [51.48770100000007, -0.29779338999992433],
 [51.58912000000004, -0.2280999999999267],
 [51.53916000000004, -0.2512299999999641],
 [51.64322000000004, -0.04379024499996831],
 [51.47480000000007, -0.09312999999997373],
 [51.462680000000034, -0.035579999999924894],
 [51.41671000000008, 0.00904221200005395],
 [51.52702000000005, -0.02593999999993457],
 [51.415095000000065, -0.035402759999954014],
 [51.49014000000005, -0.16247999999995955],
 [51.541870000000074, -0.1979499999999348],
 [51.616310000000055, -0.1383899999999585],
 [51.64322000000004, -0.04379024499996831],
 [51.604025000000036, -0.2626288639999643],
 [51.58912000000004, -0.2280999999999267],
 [51.47480000000007, -0.09312999999997373],
 [51.52669000000003, -0.06256999999993695],
 [51.53354000000007, -0.1460599999999772],
 [51.51122000000004, -0.012639999999976226],
 [51.576760000000036, 0.027230000000031396],
 [51.50913000000003, 0.015280000000075233],
 [51.53792000000004, -0.09982999999994036],
 [51.50642000000005, -0.1272099999999341],
 [51.47457000000003, -0.24211999999994305],
 [51.50642000000005, -0.1272099999999341],
 [51.43722000000008, -0.018679999999960728],
 [51.50642000000005, -0.1272099999999341],
 [51.53354000000007, -0.1460599999999772],
 [51.51651000000004, -0.11967999999995982],
 [51.48759000000007, 0.02912000000003445],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.49014000000005, -0.16247999999995955],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.562370000000044, -0.22130999999995993],
 [51.51656000000003, -0.14769999999992933],
 [51.44759000000005, 0.013500000000021828],
 [51.617800000000045, -0.009339999999951942],
 [51.413275000000056, 0.0874730970000428],
 [51.48944000000006, -0.26193999999992457],
 [51.53916000000004, -0.2512299999999641],
 [51.60104000000007, -0.19400999999993473],
 [51.46095000000008, -0.13921999999996615],
 [51.523610000000076, -0.09876999999994496],
 [51.50642000000005, -0.1272099999999341],
 [51.58486000000005, -0.24880999999993492],
 [51.50642000000005, -0.1272099999999341],
 [51.421700000000044, -0.2079599999999573],
 [51.59107000000006, -0.14851999999996224],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.38475500000004, -0.051498623999975734],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.51651000000004, -0.11967999999995982],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.53312000000005, 0.08407653200004006],
 [51.65366000000006, -0.11061428599992951],
 [51.562370000000044, -0.22130999999995993],
 [51.462680000000034, -0.035579999999924894],
 [51.50642000000005, -0.1272099999999341],
 [51.492450000000076, 0.12127000000003818],
 [51.58170000000007, -0.12092999999993026],
 [51.38475500000004, -0.051498623999975734],
 [51.42674000000005, -0.05532999999996946],
 [51.51122000000004, -0.012639999999976226],
 [51.345030070448836, 0.13272550539320627],
 [51.50913000000003, 0.015280000000075233],
 [51.50642000000005, -0.1272099999999341],
 [51.54505000000006, -0.05531999999993786],
 [51.50642000000005, -0.1272099999999341],
 [51.53792000000004, -0.09982999999994036],
 [51.47480000000007, -0.09312999999997373],
 [51.48114000000004, -0.02466999999995778],
 [51.50642000000005, -0.1272099999999341],
 [51.562370000000044, -0.22130999999995993],
 [51.50642000000005, -0.1272099999999341],
 [51.41671000000008, 0.00904221200005395],
 [51.44100000000003, -0.08896999999996069],
 [51.514530000000036, -0.31950999999997975],
 [51.48563000000007, -0.1814399999999523],
 [51.45066000000003, -0.18996999999995978],
 [51.50642000000005, -0.1272099999999341],
 [51.448444494776844, -0.44849227524521545],
 [51.45256000000006, -0.0707599999999502],
 [51.589270000000056, -0.16394999999994297],
 [51.53292000000005, 0.05461000000002514],
 [51.46482000000003, -0.26590999999996257],
 [51.45907500000004, 0.0991206960000568],
 [51.50642000000005, -0.1272099999999341],
 [51.415095000000065, -0.035402759999954014],
 [51.604025000000036, -0.2626288639999643],
 [51.613740000000064, -0.0645999999999276],
 [51.50642000000005, -0.1272099999999341],
 [51.49084000000005, -0.11107999999995855],
 [51.50642000000005, -0.1272099999999341],
 [51.415095000000065, -0.035402759999954014],
 [51.413275000000056, 0.0874730970000428],
 [51.444630000000075, 0.05212000000005901],
 [51.50642000000005, -0.1272099999999341],
 [51.64322000000004, -0.04379024499996831],
 [51.64322000000004, -0.04379024499996831],
 [51.65366000000006, -0.11061428599992951],
 [51.64322000000004, -0.04379024499996831],
 [51.498845000000074, 0.1466047580000236],
 [51.444630000000075, 0.05212000000005901],
 [51.523610000000076, -0.09876999999994496],
 [51.44729925950719, -0.32846611197998826],
 [51.615920000000074, -0.1767399999999384],
 [51.523610000000076, -0.09876999999994496],
 [51.56878000000006, -0.09846999999996342],
 [51.51656000000003, -0.14769999999992933],
 [51.452067760578885, 0.1722299153689439],
 [51.54668000000004, 0.025580000000047676],
 [51.441220000000044, -0.047639999999944393],
 [51.38475500000004, -0.051498623999975734],
 [51.59107000000006, -0.14851999999996224],
 [51.64322000000004, -0.04379024499996831],
 [51.616310000000055, -0.1383899999999585],
 [51.555060000000026, -0.1734799999999268],
 [51.47772000000003, -0.2014499999999657],
 [51.45271782514859, -0.3301007034737104],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.43407000000008, -0.10374999999993406],
 [51.50642000000005, -0.1272099999999341],
 [51.576730000000055, -0.19694999999995844],
 [51.50642000000005, -0.1272099999999341],
 [51.555060000000026, -0.1734799999999268],
 [51.58486000000005, -0.24880999999993492],
 [51.63519000000008, -0.09302999999994199],
 [51.50642000000005, -0.1272099999999341],
 [51.48454000000004, 0.002750000000048658],
 [51.48944000000006, -0.26193999999992457],
 [51.44759000000005, 0.013500000000021828],
 [51.48944000000006, -0.26193999999992457],
 [51.56350000000003, -0.07312999999993508],
 [51.54505000000006, -0.05531999999993786],
 [51.53777000000008, -0.04479999999995243],
 [51.53777000000008, -0.04479999999995243],
 [51.50642000000005, -0.1272099999999341],
 [51.52669000000003, -0.06256999999993695],
 [51.50642000000005, -0.1272099999999341],
 [51.615680000000054, -0.2451099999999542],
 [51.44075000000004, -0.28208817499995575],
 [51.49617000000006, -0.22934999999995398],
 [51.555060000000026, -0.1734799999999268],
 [51.589270000000056, -0.16394999999994297],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50878000000006, -0.3362999999999374],
 [51.44864734579377, -0.3294047593453292],
 [51.50642000000005, -0.1272099999999341],
 [51.53916000000004, -0.2512299999999641],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.58151000000004, -0.07589999999993324],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.448444494776844, -0.44849227524521545],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.58912000000004, -0.2280999999999267],
 [51.45529000000005, -0.09927999999996473],
 [51.50642000000005, -0.1272099999999341],
 [51.617800000000045, -0.009339999999951942],
 [51.553180000000054, -0.09838999999993803],
 [51.57145000000003, -0.14982999999995172],
 [51.50642000000005, -0.1272099999999341],
 [51.46196000000003, -0.007539999999949032],
 [51.524500000000046, -0.12272999999993317],
 [51.512440000000026, -0.20638999999994212],
 [51.55457000000007, -0.11477999999993926],
 [51.53777000000008, -0.04479999999995243],
 [51.441220000000044, -0.047639999999944393],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.44759000000005, 0.013500000000021828],
 [51.58170000000007, -0.12092999999993026],
 [51.50642000000005, -0.1272099999999341],
 [51.53792000000004, -0.09982999999994036],
 [51.58486000000005, -0.24880999999993492],
 [51.50642000000005, -0.1272099999999341],
 [51.55116000000004, 0.07895962300005976],
 [51.51122000000004, -0.012639999999976226],
 [51.50642000000005, -0.1272099999999341],
 [51.53792000000004, -0.09982999999994036],
 [51.50642000000005, -0.1272099999999341],
 [51.49084000000005, -0.11107999999995855],
 [51.53916000000004, -0.2512299999999641],
 [51.49807000000004, -0.17403999999993403],
 [51.55570000000006, -0.13925999999997885],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.47138000000007, 0.023380000000031487],
 [51.541870000000074, -0.1979499999999348],
 [51.524500000000046, -0.12272999999993317],
 [51.58486000000005, -0.24880999999993492],
 [51.457550000000026, -0.21844999999996162],
 [51.50642000000005, -0.1272099999999341],
 [51.49713000000003, -0.13828999999992675],
 [51.46196000000003, -0.007539999999949032],
 [51.499600000000044, -0.09612999999995964],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.558850000000064, -0.00732999999996764],
 [51.51122000000004, -0.012639999999976226],
 [51.50642000000005, -0.1272099999999341],
 [51.44759000000005, 0.013500000000021828],
 [51.48547000000008, 0.14300741500005643],
 [51.46196000000003, -0.007539999999949032],
 [51.558850000000064, -0.00732999999996764],
 [51.576760000000036, 0.027230000000031396],
 [51.51122000000004, -0.012639999999976226],
 [51.53398000000004, -0.17377999999996518],
 [51.552410000000066, 0.05258000000003449],
 [51.525870000000054, -0.19525999999996202],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.444630000000075, 0.05212000000005901],
 [51.558970000000045, -0.05322999999992817],
 [51.392201353000075, -0.2159499999999639],
 [51.55116000000004, 0.07895962300005976],
 [51.525870000000054, -0.19525999999996202],
 [51.50642000000005, -0.1272099999999341],
 [51.56878000000006, -0.09846999999996342],
 [51.552410000000066, 0.05258000000003449],
 [51.50642000000005, -0.1272099999999341],
 [51.540140000000065, 0.0027800000000297587],
 [51.51656000000003, -0.14769999999992933],
 [51.51656000000003, -0.14769999999992933],
 [51.48454000000004, 0.002750000000048658],
 [51.421700000000044, -0.2079599999999573],
 [51.444630000000075, 0.05212000000005901],
 [51.52022000000005, -0.054309999999929914],
 [51.615680000000054, -0.2451099999999542],
 [51.49713000000003, -0.13828999999992675],
 [51.51122000000004, -0.012639999999976226],
 [51.40262500000006, -0.14363752499997418],
 [51.64441500000004, -0.17918542799992565],
 [51.392201353000075, -0.2159499999999639],
 [51.392201353000075, -0.2159499999999639],
 [51.46482000000003, -0.26590999999996257],
 [51.393815000000075, -0.24302518299992926],
 [51.444630000000075, 0.05212000000005901],
 [51.59107000000006, -0.14851999999996224],
 [51.55457000000007, -0.11477999999993926],
 [51.53916000000004, -0.2512299999999641],
 [51.38475500000004, -0.051498623999975734],
 [51.64441500000004, -0.17918542799992565],
 [51.47489000000007, -0.04037999999997055],
 [51.444630000000075, 0.05212000000005901],
 [51.393815000000075, -0.24302518299992926],
 [51.616310000000055, -0.1383899999999585],
 [51.50642000000005, -0.1272099999999341],
 [51.487640000000056, -0.09541999999993322],
 [51.476230000000044, -0.13055999999994583],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.41870000000006, -0.12752999999997883],
 [51.452067760578885, 0.1722299153689439],
 [51.50642000000005, -0.1272099999999341],
 [51.615920000000074, -0.1767399999999384],
 [51.50642000000005, -0.1272099999999341],
 [51.512440000000026, -0.20638999999994212],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50913000000003, 0.015280000000075233],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.512440000000026, -0.20638999999994212],
 [51.47218000000004, -0.0677899999999454],
 [51.63261000000006, -0.17561999999992395],
 [51.50642000000005, -0.1272099999999341],
 [51.52702000000005, -0.02593999999993457],
 [51.50642000000005, -0.1272099999999341],
 [51.53916000000004, -0.2512299999999641],
 [51.50642000000005, -0.1272099999999341],
 [51.63429000000008, -0.13365999999996347],
 [51.50642000000005, -0.1272099999999341],
 [51.49084000000005, -0.11107999999995855],
 [51.51494000000008, -0.1804799999999318],
 [51.620040000000074, -0.10663999999997031],
 [51.53916000000004, -0.2512299999999641],
 [51.47772000000003, -0.2014499999999657],
 [51.47218000000004, -0.0677899999999454],
 [51.41009000000008, -0.05682999999993399],
 [51.53792000000004, -0.09982999999994036],
 [51.50642000000005, -0.1272099999999341],
 [51.44075000000004, -0.28208817499995575],
 [51.50642000000005, -0.1272099999999341],
 [51.49713000000003, -0.13828999999992675],
 [51.50642000000005, -0.1272099999999341],
 [51.52653000000004, 0.02876000000003387],
 [51.41671000000008, 0.00904221200005395],
 [51.48207000000008, 0.07143000000002075],
 [51.64322000000004, -0.04379024499996831],
 [51.51122000000004, -0.012639999999976226],
 [51.50642000000005, -0.1272099999999341],
 [51.55076000268121, -0.29333510060184487],
 [51.53398000000004, -0.17377999999996518],
 [51.50642000000005, -0.1272099999999341],
 [51.457550000000026, -0.21844999999996162],
 [51.541870000000074, -0.1979499999999348],
 [51.604025000000036, -0.2626288639999643],
 [51.50642000000005, -0.1272099999999341],
 [51.52022000000005, -0.054309999999929914],
 [51.50642000000005, -0.1272099999999341],
 [51.41117000000003, -0.22622999999993],
 [51.50642000000005, -0.1272099999999341],
 [51.44075000000004, -0.28208817499995575],
 [51.50642000000005, -0.1272099999999341],
 [51.457550000000026, -0.21844999999996162],
 [51.50642000000005, -0.1272099999999341],
 [51.49574000000007, -0.051569999999969696],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.451503102295796, 0.17638251139068692],
 [51.50642000000005, -0.1272099999999341],
 [51.47772000000003, -0.2014499999999657],
 [51.39925000000005, -0.07413999999994303],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.58151000000004, -0.07589999999993324],
 [51.56350000000003, -0.07312999999993508],
 [51.52022000000005, -0.054309999999929914],
 [51.50645000000003, -0.2369099999999662],
 [51.38475500000004, -0.051498623999975734],
 [51.48207000000008, 0.07143000000002075],
 [51.53792000000004, -0.09982999999994036],
 [51.451503102295796, 0.17638251139068692],
 [51.50913000000003, 0.015280000000075233],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.576760000000036, 0.027230000000031396],
 [51.51656000000003, -0.14769999999992933],
 [51.53354000000007, -0.1460599999999772],
 [51.50642000000005, -0.1272099999999341],
 [51.53777000000008, -0.04479999999995243],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.49807000000004, -0.17403999999993403],
 [51.39925000000005, -0.07413999999994303],
 [51.50642000000005, -0.1272099999999341],
 [51.421700000000044, -0.2079599999999573],
 [51.589770000000044, 0.030520000000024083],
 [51.58151000000004, -0.07589999999993324],
 [51.43722000000008, -0.018679999999960728],
 [51.50642000000005, -0.1272099999999341],
 [51.50642000000005, -0.1272099999999341],
 [51.45066000000003, -0.18996999999995978],
 [51.63429000000008, -0.13365999999996347],
 [51.52022000000005, -0.054309999999929914],
 [51.392201353000075, -0.2159499999999639],
 [51.49713000000003, -0.13828999999992675],
 [51.50642000000005, -0.1272099999999341],
 [51.51651000000004, -0.11967999999995982],
 [51.462680000000034, -0.035579999999924894],
 [51.53398000000004, -0.17377999999996518],
 [51.523610000000076, -0.09876999999994496],
 [51.50642000000005, -0.1272099999999341],
 [51.524500000000046, -0.12272999999993317],
 [51.50642000000005, -0.1272099999999341],
 [51.58151000000004, -0.07589999999993324],
 [51.50642000000005, -0.1272099999999341],
 [51.52022000000005, -0.054309999999929914],
 [51.476230000000044, -0.13055999999994583],
 [51.56350000000003, -0.07312999999993508],
 [51.53916000000004, -0.2512299999999641],
 [51.540140000000065, 0.0027800000000297587],
 [51.50642000000005, -0.1272099999999341],
 [51.41870000000006, -0.12752999999997883],
 [51.56878000000006, -0.09846999999996342],
 [51.50642000000005, -0.1272099999999341],
 [51.41671000000008, 0.00904221200005395],
 [51.50642000000005, -0.1272099999999341],
 [51.49574000000007, -0.051569999999969696],
 [51.50642000000005, -0.1272099999999341],
 [51.555060000000026, -0.1734799999999268],
 [51.42674000000005, -0.05532999999996946],
 [51.44100000000003, -0.08896999999996069],

In [86]:
df = DataFrame (coordinates,columns=['lat','lng']) #convert list with coordinates to dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 2 columns):
lat    533 non-null float64
lng    533 non-null float64
dtypes: float64(2)
memory usage: 8.5 KB

In [87]:
df_lon3=df_lon2.join(df)   #merge our table with corresponding coordinates

In [88]:
df_lon3.tail()

,Location,Borough,Post town,Postcode,lat,lng
528,Woolwich,Greenwich,LONDON,SE18,51.48207,0.07143
529,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,51.50642,-0.12721
530,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,51.50645,-0.23691
531,Yeading,Hillingdon,HAYES,UB4,51.50642,-0.12721
532,Yiewsley,Hillingdon,WEST DRAYTON,UB7,51.50642,-0.12721

Now we have a dataframe with coordinates of locations postcodes. 
If we look at columns with coordinates, especially the last rows, we can see, that some locations with different postcodes have identical coordinates. 
We are going to make further analysis based on coordinates of postcodes, so we can optimize our work by deleting duplicates coordinates (the pair 'lat' and 'lng') and avoid double work.

In [89]:
df_lon3 = df_lon3.drop_duplicates(['lat', 'lng'],  keep='last') #drop all duplicates except last occurence

In [90]:
df_lon3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 1 to 532
Data columns (total 6 columns):
Location     142 non-null object
Borough      142 non-null object
Post town    142 non-null object
Postcode     142 non-null object
lat          142 non-null float64
lng          142 non-null float64
dtypes: float64(2), object(4)
memory usage: 7.8+ KB

Stop! This is strange - we had 533 location and after dropping the duplicate coordinates there are only 142 left. Probably, there is something wrong - we "lost" the major part of the data and it's not very believable that so many of locations has two postcodes. Let's get back to the dataframe in its state before cleaning the duplicates, make a dataframe with duplicate locations coordinates again and try to find what's wrong.

In [91]:
df_lon3=df_lon2.join(df)  #create full dataframe again
df_lon3.tail(10) #look at the tail again

,Location,Borough,Post town,Postcode,lat,lng
523,Woodford,Redbridge,LONDON,"IG8, E18",51.589770,0.030520
524,Woodford Green,"Redbridge, Waltham Forest","LONDON, WOODFORD GREEN",IG8,51.608869,0.015320
525,Woodlands,Hounslow,ISLEWORTH,TW7,51.506420,-0.127210
526,Woodside,Croydon,CROYDON,CR0,51.384755,-0.051499
527,Woodside Park,Barnet,LONDON,N12,51.615920,-0.176740
528,Woolwich,Greenwich,LONDON,SE18,51.482070,0.071430
529,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,51.506420,-0.127210
530,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,51.506450,-0.236910
531,Yeading,Hillingdon,HAYES,UB4,51.506420,-0.127210
532,Yiewsley,Hillingdon,WEST DRAYTON,UB7,51.506420,-0.127210

As we can see, there are a lot of locations with completely different post codes, for example: TW7, KT4, UB4 and UB7 (that means they are located in different parts of London) and it's not possible all of them to have the same coordinates 51.506420, -0,127210. Obviously, due to some reason, for all postcodes outside of central part of London, arcgis_geocoder returns the same coordinates.

In [92]:
# Select all duplicate rows based on lat and lng columns
duplicateRowsDF = df_lon3[df_lon3.duplicated(['lat', 'lng'])]
 
print("Duplicate Rows based on lat and lng are:", duplicateRowsDF, sep='\n')

Duplicate Rows based on lat and lng are:
                                           Location  \
3                                        Addiscombe
8                                          Alperton
13                                   Ardleigh Green
18                                         Barbican
20                                      Barkingside
23                                      Barnes Cray
24                                      Barnet Gate
29                                        Beckenham
31                                        Becontree
32                                  Becontree Heath
33                                       Beddington
37                                          Belmont
38                                          Belmont
41                                       Bermondsey
42                                       Berrylands
44         Bexley (also Old Bexley, Bexley Village)
45               Bexleyheath (also Bexley New Town)
47                                      Biggin Hill
48                                         Blackfen
53                                          Blendon
58                                       Bowes Park
66                    Bromley (also Bromley-by-Bow)
67                                   Bromley Common
71                                      Bulls Cross
73                                   Burroughs, The
74                                       Camberwell
75                                  Cambridge Heath
77                                     Canary Wharf
79                                     Canning Town
80                                        Canonbury
81                                       Carshalton
82                                        Castelnau
83                                     Castle Green
84                                          Catford
85                                   Chadwell Heath
86                                       Chalk Farm
87                                    Charing Cross
89                                      Chase Cross
90                                            Cheam
91                                          Chelsea
92                                       Chelsfield
93                                      Chessington
96                                        Chinbrook
99                                         Chiswick
100                                      Church End
103                                     Clerkenwell
104                                     Cockfosters
106                                     Collier Row
109                                         Colyers
110                                      Coney Hall
111                                          Coombe
112                                          Coombe
113                                        Coulsdon
114                                   Covent Garden
115                                          Cowley
116                                        Cranford
117                                         Cranham
118                                        Crayford
119                                      Creekmouth
120                                      Crews Hill
121                                     Cricklewood
122                                    Crofton Park
123                                       Crook Log
124                                       Crossness
126                                         Croydon
128                                     Cubitt Town
130                                    Custom House
131                                        Dagenham
133                                        Dartford
134                                De Beauvoir Town
135                                    Denmark Hill
137                                     Derry Downs
138                                     Dollis Hill
139                                           Downe
140                                         Downham
145                                     East Barnet
152                                        Eastcote
153                                       Eden Park
154                                         Edgware
156                                  Eel Pie Island
158                                        Elm Park
159                                      Elmers End
160                                        Elmstead
162                                    Emerson Park
163                                 Enfield Highway
164                                    Enfield Lock
165                                    Enfield Town
166                                    Enfield Wash
168                                      Falconwood
169                                      Farringdon
172                                        Finsbury
174                                       Fitzrovia
175                                      Foots Cray
178                                      Forestdale
179                                    Fortis Green
180                                     Freezywater
181                                   Friern Barnet
182                                         Frognal
185                                  Gallows Corner
186                                      Gants Hill
187                                      Gidea Park
189                                      Goddington
191                                       Goodmayes
192                                      Gospel Oak
193                                    Grahame Park
195                                       Greenford
197                                      Grove Park
198                                      Grove Park
199                                     Gunnersbury
201                                 Hackney Central
203                                    Hackney Wick
204                                     Hadley Wood
205                                      Haggerston
206                                        Hainault
207                                        The Hale
210                                       Hampstead
211                         Hampstead Garden Suburb
212                                         Hampton
213                                    Hampton Hill
214                                    Hampton Wick
217                                       Harefield
218                                       Harlesden
219                                      Harlington
220                                   Harmondsworth
221                                     Harold Hill
222                                     Harold Park
223                                     Harold Wood
225                                          Harrow
226                              Harrow on the Hill
227                                    Harrow Weald
228                                       Hatch End
229                                          Hatton
230                             Havering-atte-Bower
231                                           Hayes
232                                           Hayes
233                                       Hazelwood
234                                          Hendon
236                                          Heston
237                                    Highams Park
240                                      Hillingdon
242                                         Holborn
245                                        Homerton
246                                       Honor Oak
247                                            Hook
248                                      Hornchurch
249                                       Horn Park
250                                         Hornsey
251                                        Hounslow
252                                          Hoxton
253                                        The Hyde
254                                        Ickenham
256                                    Isle of Dogs
257                                       Isleworth
258                                       Islington
259                                          Kenley
260                                      Kennington
261                                    Kensal Green
264                                          Kenton
265                                          Keston
266                                             Kew
267                                       Kidbrooke
268                                         Kilburn
269                                    King's Cross
270                                       Kingsbury
272                            Kingston upon Thames
273                                   Knightsbridge
274                                        Ladywell
275                                         Lambeth
276                                        Lamorbey
277                                         Lampton
279                                        Leamouth
280                                    Leaves Green
281                                             Lee
282                                  Lessness Heath
283                                        Lewisham
284                                          Leyton
285                                     Leytonstone
286                                       Limehouse
290                                     Locksbottom
291                                        Longford
292                                       Longlands
295                                         Loxford
296                                      Maida Vale
297                                  Malden Rushett
298                                     Manor House
299                                      Manor Park
300                                      Marks Gate
302                 Marylebone (also St Marylebone)
303                                         Mayfair
304                                       Maze Hill
305                                     Merton Park
306                                     Middle Park
308                                       Mill Hill
309                                        Millbank
310                                        Millwall
312                                   Monken Hadley
313                                          Morden
314                                     Morden Park
315                                        Mortlake
317                                      Mottingham
318                                    Muswell Hill
319                                      Nag's Head
320                                         Neasden
321                                   New Addington
322                                      New Barnet
324                                      New Eltham
325                                      New Malden
326                                   New Southgate
327                                    Newbury Park
330                                       Noak Hill
331                                        Norbiton
333                                      North Cray
334                                       North End
335                                  North Finchley
336                                    North Harrow
337                                North Kensington
338                                  North Ockendon
339                                     North Sheen
340                                  North Woolwich
341                                        Northolt
342                            Northumberland Heath
343                                       Northwood
344                                   Norwood Green
345                                    Notting Hill
348                                    Old Coulsdon
349                                        Old Ford
350                                      Old Malden
351                                  Old Oak Common
352                                       Orpington
353                                          Osidge
354                                        Osterley
355                                            Oval
356                                      Paddington
358                                      Park Royal
359                                   Parsons Green
360                                         Peckham
361                                           Penge
362                                     Pentonville
363                                        Perivale
364                                       Petersham
365                                      Petts Wood
366                                         Pimlico
367                                          Pinner
369                                        Plaistow
371                                     Ponders End
372                                          Poplar
373                                  Pratt's Bottom
375                                   Primrose Hill
376                                          Purley
377                                          Putney
378                                    Queen's Park
379                                      Queensbury
380                                         Rainham
381                                        Ratcliff
382                                    Rayners Lane
384                                       Redbridge
385                                        Richmond
386                                     Riddlesdown
387                                      Roehampton
388                                         Romford
390                                         Ruislip
391                                      Rush Green
393                                     Sanderstead
394                                       Sands End
396                                         Selsdon
397                                     Seven Kings
398                                   Seven Sisters
399                                     Shacklewell
400                                        Shadwell
402                                         Shirley
403                                  Shooter's Hill
404                                      Shoreditch
405                                          Sidcup
406                                      Silvertown
407                                          Sipson
408                                     Slade Green
409                                     Snaresbrook
410                                            Soho
411                                      Somerstown
412                                   South Croydon
413                                   South Hackney
414                                    South Harrow
415                                South Hornchurch
416                                South Kensington
417                                   South Norwood
418                                   South Ruislip
419                                 South Wimbledon
421                                 South Tottenham
422                                        Southend
423                                        Southall
424                                    Southborough
425                                     Southfields
426                                       Southgate
427                                    Spitalfields
428                                       St Helier
429                                      St James's
430                                    St Margarets
431                                        St Giles
432                                        St Johns
433                                  St John's Wood
434                                       St Luke's
435                                    St Mary Cray
436                                      St Pancras
437                                  St Paul's Cray
438                                   Stamford Hill
439                                        Stanmore
440                                         Stepney
441                                       Stockwell
442                                 Stoke Newington
443                                     Stonebridge
444                                       Stratford
445                                 Strawberry Hill
446                                       Streatham
447                                    Stroud Green
448                                         Sudbury
449                                       Sundridge
450                                        Surbiton
451                                    Surrey Quays
452                                          Sutton
453                                   Swiss Cottage
454  Sydenham (also Lower Sydenham, Upper Sydenham)
455                                   Sydenham Hill
457                                          Temple
458                                  Temple Fortune
461                                       Tokyngton
462                                        Tolworth
464                                     Tooting Bec
465                                       Tottenham
466                                 Tottenham Green
467                                  Tottenham Hale
468                                      Totteridge
469                                      Tower Hill
470                                    Tufnell Park
471                                      Tulse Hill
472                                   Turnpike Lane
473                                      Twickenham
474                                       Upminster
475                                Upminster Bridge
476                                   Upper Clapton
477                                  Upper Holloway
479                                    Upper Ruxley
481                                           Upton
482                                      Upton Park
483                                        Uxbridge
484                                        Vauxhall
485                                          Waddon
486                                      Wallington
487                                     Walthamstow
488                             Walthamstow Village
489                                        Walworth
490                                      Wandsworth
491                                        Wanstead
492                                         Wapping
493                                      Wealdstone
494                                       Well Hall
495                                         Welling
496                                         Wembley
497                                    Wembley Park
498                                      Wennington
499                                   West Brompton
500                                    West Drayton
501                                     West Ealing
502                                      West Green
503                                    West Hackney
504                                        West Ham
505                                  West Hampstead
506                                     West Harrow
507                                      West Heath
508                                     West Hendon
510                                    West Norwood
511                                    West Wickham
512                                  Westcombe Park
513                                     Westminster
514                                       Whetstone
515                                      White City
516                                     Whitechapel
517                    Widmore (also Widmore Green)
518                                         Whitton
519                                       Willesden
520                                       Wimbledon
521                                  Winchmore Hill
522                                      Wood Green

As we can see, arcgis_geocoder returns identical coordinates for locations placed at the very different parts of London. If we continue our work based on this data, it will reduce the quality of our project. Definitely, we should not use it. Let see what other options we have.

One can find a lot of geocoder services on Internet, but most of them are paid, so let's try to find some other way to get the coordinates of London postcodes.
If we look more thoroughly at the same Wiki page https://en.wikipedia.org/wiki/List_of_areas_of_London, we can see the last table column 'OS grid ref' which stands for Ordnance Survey (National Grid reference system - a system of geographic grid references used in Great Britain), actually already contains hypelinks with location coordinates and they are in our usual format longitude and latitude.
Let's try to extract them.

In [93]:
# There is a library for web scrapping called BeautifulSoup
column_names = ['LatLng'] 
from bs4 import BeautifulSoup
import urllib.request
ll_coord=pd.DataFrame(columns=column_names)

resp = urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_areas_of_London")  
soup = BeautifulSoup(resp, from_encoding=resp.info().get_param('charset'))

for link in soup.find_all('a', href=True):
    if 'geohack/en' in link['href']:  # all our links contain string 'geohack/en' - this helps us to avoid other hyperlinks
        ll_coord=ll_coord.append({'LatLng': link['href']}, ignore_index=True)

In [94]:
ll_coord.head()

                                              LatLng
0  https://tools.wmflabs.org/geohack/en/51.486480...
1  https://tools.wmflabs.org/geohack/en/51.510587...
2  https://tools.wmflabs.org/geohack/en/51.362931...
3  https://tools.wmflabs.org/geohack/en/51.381621...
4  https://tools.wmflabs.org/geohack/en/51.434925...

In [95]:
# We'got the whole hyperlink which contains longitude and latitude in it. Let's extract them.
ll_coord['LatLng'] = ll_coord['LatLng'].astype(str) #convert to string

# strip text before the coordinates
ll_coord['LatLng'] = ll_coord['LatLng'].str.strip('https://tools.wmflabs.org/geohack/en') 

# strip text after the coordinates
ll_coord['LatLng'] = ll_coord['LatLng'].str.rstrip('_region:GB_scale:25000?pagename=List_of_areas_of_London')

In [96]:
ll_coord.head()

                               LatLng
0     51.48648031512;0.10859224316653
1    51.51058775877;-0.26498902668911
2   51.362931128458;-0.02637373877941
3  51.381621885559;-0.068682165650808
4    51.434925966837;0.12492137518833

In [97]:
# let's split the column to latitude and latitude
ll_coord['Lat'] = ll_coord.LatLng.str.split('\;').str[0]
ll_coord['Lng'] = ll_coord.LatLng.str.split('\;').str[1]
ll_coord.head()

                               LatLng              Lat                 Lng
0     51.48648031512;0.10859224316653   51.48648031512    0.10859224316653
1    51.51058775877;-0.26498902668911   51.51058775877   -0.26498902668911
2   51.362931128458;-0.02637373877941  51.362931128458   -0.02637373877941
3  51.381621885559;-0.068682165650808  51.381621885559  -0.068682165650808
4    51.434925966837;0.12492137518833  51.434925966837    0.12492137518833

In [98]:
ll_coord.info()  # check the dimensions

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 3 columns):
LatLng    531 non-null object
Lat       531 non-null object
Lng       531 non-null object
dtypes: object(3)
memory usage: 12.6+ KB

In [99]:
df_lon3=df_lon2   #get back our dataframe from original
df_lon3.info()    # check the dimensions

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 4 columns):
Location     533 non-null object
Borough      533 non-null object
Post town    533 non-null object
Postcode     533 non-null object
dtypes: object(4)
memory usage: 16.8+ KB

It appears that we have different number of entries in our two dataframes - 533 in df_lon3 with locations and 531 in ll_coord. This requires our reaction.
One possible reason is, if there are empty rows at the column with coordinates 'OS Grid ref'. Let's check it.

In [100]:
# We will process again our dataframe the same way. This time we'l not drop 'OS Grid ref' - the column with coordinates
df_lon2=df_lon1.drop(columns=['Dial\xa0code'])                                #
df_lon2.rename(columns={'London\xa0borough': 'Borough'}, inplace=True)        # now it is OK with column name
df_lon2.rename(columns={'Postcode\xa0district': 'Postcode'}, inplace=True)    #
df_lon2.head()

,Location,Borough,Post town,Postcode,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",TQ205805
2,Addington,Croydon[8],CROYDON,CR0,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",TQ478728

In [101]:
missing_data = df_lon2.isnull() # False - there is a value, True - there is no value
missing_data.head()

   Location  Borough  Post town  Postcode  OS grid ref
0     False    False      False     False        False
1     False    False      False     False        False
2     False    False      False     False        False
3     False    False      False     False        False
4     False    False      False     False        False

In [102]:
# Let's check every column for missing values
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Location
False    533
Name: Location, dtype: int64

Borough
False    533
Name: Borough, dtype: int64

Post town
False    533
Name: Post town, dtype: int64

Postcode
False    533
Name: Postcode, dtype: int64

OS grid ref
False    531
True       2
Name: OS grid ref, dtype: int64

Now, the situation is clear. All columns have 533 values except 'OS grid ref' column, which has missing data in two rows. We need to drop these two rows, then the relations between locations dataframe and coordinates dataframe will be correct.

In [103]:
# simply drop whole row with NaN in "OS grid ref" column
df_lon2.dropna(subset=["OS grid ref"], axis=0, inplace=True)

# reset index, because we droped two rows
df_lon2.reset_index(drop=True, inplace=True)

In [104]:
df_lon2.info() # one more check

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 5 columns):
Location       531 non-null object
Borough        531 non-null object
Post town      531 non-null object
Postcode       531 non-null object
OS grid ref    531 non-null object
dtypes: object(5)
memory usage: 20.9+ KB

In [105]:
df_lon2.head()

,Location,Borough,Post town,Postcode,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",TQ205805
2,Addington,Croydon[8],CROYDON,CR0,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",TQ478728

In [106]:
df_lon2['Lat']=ll_coord['Lat']  # now, when the dataframes have equal entries, we can correctly append Lat and Lng columns.
df_lon2['Lng']=ll_coord['Lng']
df_lon2.head()

,Location,Borough,Post town,Postcode,OS grid ref,Lat,Lng
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,TQ465785,51.48648031512,0.10859224316653
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",TQ205805,51.51058775877,-0.26498902668911
2,Addington,Croydon[8],CROYDON,CR0,TQ375645,51.362931128458,-0.02637373877941
3,Addiscombe,Croydon[8],CROYDON,CR0,TQ345665,51.381621885559,-0.068682165650808
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",TQ478728,51.434925966837,0.12492137518833

In [107]:
# Clear reference numbers in square brackets in Borough column
df_lon2['Borough'] = df_lon2['Borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))

# now we can safely drop few more columns
df_lon3=df_lon2.drop(columns=['Post town', 'Postcode', 'OS grid ref']) 

df_lon3.head()

,Location,Borough,Lat,Lng
0,Abbey Wood,"Bexley, Greenwich",51.48648031512,0.10859224316653
1,Acton,"Ealing, Hammersmith and Fulham",51.51058775877,-0.26498902668911
2,Addington,Croydon,51.362931128458,-0.02637373877941
3,Addiscombe,Croydon,51.381621885559,-0.068682165650808
4,Albany Park,Bexley,51.434925966837,0.12492137518833

Now, when we have in dataframe coordinates for all postcode locations it's time to estimate attractiveness of each location for new "TP Collections" new shop.
Just to remind - we will make a list of neighborhoods ordered by number of shoe shops located there and another 5 lists of neighborhoods ordered by number of venues preferred by young professional: trending café, fashion restaurants, art-galleries, university campuses and tourist attractions.
We will use Foursquare API for that purpose.

In [108]:
CLIENT_ID = 'R2KGTVRZKZ3VDRZALP1NALDNEC0OB2ORFFTYGSQNS42AVRE2' # my Foursquare ID
CLIENT_SECRET = 'FUVPPKJRWMGNAX3NXCKPVI1ULOPVRCPRMYOKFP0BNXWXVVAD' # my Foursquare Secret
VERSION = '20180604'
LIMIT = 75
Radius=500
print('My credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

My credentails:
CLIENT_ID: R2KGTVRZKZ3VDRZALP1NALDNEC0OB2ORFFTYGSQNS42AVRE2
CLIENT_SECRET:FUVPPKJRWMGNAX3NXCKPVI1ULOPVRCPRMYOKFP0BNXWXVVAD

We create a function for identifying the venues and counting the total number of venues for that category to respective columns in our current dataframe. Here is the function:

In [109]:
def nr_venues(ID, category):
    for i in range(len(df_lon3)):
        p_lat =df_lon3.iloc[i,2]
        p_lon =df_lon3.iloc[i,3]
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&categoryId={}&radius={}&limit={}'.format(CLIENT_ID,CLIENT_SECRET,p_lat,p_lon,VERSION,ID,Radius,LIMIT) 
        res = requests.get(url).json()
        venue = res['response']['venues']
        df_ven=json_normalize(venue)
        count = np.shape(df_ven)
        df_lon3.loc[i, category] = count[0]

In [110]:
# here are the new columns
df_lon3['Shoe store'] = np.nan
df_lon3['Art gallery'] = np.nan
df_lon3['College and University'] = np.nan
df_lon3['Cafe'] = np.nan
df_lon3['Vegetarian Vegan Restaurant'] = np.nan
df_lon3['Travel and Transport'] = np.nan
df_lon3.head()

,Location,Borough,Lat,Lng,Shoe store,Art gallery,College and University,Cafe,Vegetarian Vegan Restaurant,Travel and Transport
0,Abbey Wood,"Bexley, Greenwich",51.48648031512,0.10859224316653,NaN,NaN,NaN,NaN,NaN,NaN
1,Acton,"Ealing, Hammersmith and Fulham",51.51058775877,-0.26498902668911,NaN,NaN,NaN,NaN,NaN,NaN
2,Addington,Croydon,51.362931128458,-0.02637373877941,NaN,NaN,NaN,NaN,NaN,NaN
3,Addiscombe,Croydon,51.381621885559,-0.068682165650808,NaN,NaN,NaN,NaN,NaN,NaN
4,Albany Park,Bexley,51.434925966837,0.12492137518833,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
df_lon3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 10 columns):
Location                       531 non-null object
Borough                        531 non-null object
Lat                            531 non-null object
Lng                            531 non-null object
Shoe store                     0 non-null float64
Art gallery                    0 non-null float64
College and University         0 non-null float64
Cafe                           0 non-null float64
Vegetarian Vegan Restaurant    0 non-null float64
Travel and Transport           0 non-null float64
dtypes: float64(6), object(4)
memory usage: 41.6+ KB

Now we have prepared everything required to start filling our dataframe with number of venues. Due to Foursquare free account limitations it's not possible to perform all requests straight and at once - we'll exceed the free quota.
One possible way to remain in the limits, without compromising quality of the data, should be to perform the first request with main criteria for all 533 locations and then limit other requests to the top results. As agreed with the client, the main location criteria within the "richest" city is concentration of Shoe stores. 
We'll need to explore data distribution of this criteria and limit next requests only to the top locations.

In [113]:
# let's start with the main criteria number of shoe stores in location
nr_venues('4bf58dd8d48988d107951735','Shoe store')

In [114]:
df_lon3.sort_values(['Shoe store'], ascending=False, inplace=True)
df_lon3.reset_index(drop=True, inplace=True)
df_lon3.head(15)

,Location,Borough,Lat,Lng,Shoe store,Art gallery,College and University,Cafe,Vegetarian Vegan Restaurant,Travel and Transport
0,Fitzrovia,Camden,51.518529819132,-0.13784759302216,50.0,NaN,NaN,NaN,NaN,NaN
1,Soho,Westminster,51.517585379522,-0.13500343088978,50.0,NaN,NaN,NaN,NaN,NaN
2,Mayfair,Westminster,51.508826777815,-0.14977175677031,49.0,NaN,NaN,NaN,NaN,NaN
3,St James's,Westminster,51.508598701761,-0.1353704316591,48.0,NaN,NaN,NaN,NaN,NaN
4,Covent Garden,Westminster,51.512009617972,-0.12370182518566,47.0,NaN,NaN,NaN,NaN,NaN
5,Marylebone (also St Marylebone),Westminster,51.517813528559,-0.1494075869483,47.0,NaN,NaN,NaN,NaN,NaN
6,St Giles,Camden,51.517355462669,-0.1205994650938,40.0,NaN,NaN,NaN,NaN,NaN
7,Holborn,Camden,51.517355462669,-0.1205994650938,40.0,NaN,NaN,NaN,NaN,NaN
8,Aldwych,Westminster,51.512815974418,-0.11790391775668,39.0,NaN,NaN,NaN,NaN,NaN
9,Shepherd's Bush,Hammersmith and Fulham,51.503649663134,-0.22202608436881,33.0,NaN,NaN,NaN,NaN,NaN
10,Knightsbridge,Westminster,51.500066247724,-0.1645344220913,28.0,NaN,NaN,NaN,NaN,NaN
11,Stratford,Newham,51.5424103836,-0.0041961227921228,28.0,NaN,NaN,NaN,NaN,NaN
12,Belgravia,Westminster,51.500066247724,-0.1645344220913,28.0,NaN,NaN,NaN,NaN,NaN
13,Brompton,Kensington and ChelseaHammersmith and Fulham,51.500066247724,-0.1645344220913,28.0,NaN,NaN,NaN,NaN,NaN
14,White City,Hammersmith and Fulham,51.511781708593,-0.22459178074946,26.0,NaN,NaN,NaN,NaN,NaN

There are a lot of locations with no Shoe store available according Foursquare. As agreed with our client, we are not interested in such locations so let's drop them.

In [115]:
# Get names of indexes for which column Shoe store has value 0
indexNames = df_lon3[df_lon3['Shoe store'] == 0 ].index
 
# Delete these row indexes from dataFrame
df_lon3.drop(indexNames , inplace=True)

In [116]:
df_lon3.describe()

,Shoe store,Art gallery,College and University,Cafe,Vegetarian Vegan Restaurant,Travel and Transport
count,144.000000,0.0,0.0,0.0,0.0,0.0
mean,7.104167,NaN,NaN,NaN,NaN,NaN
std,11.998088,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN
25%,1.000000,NaN,NaN,NaN,NaN,NaN
50%,2.000000,NaN,NaN,NaN,NaN,NaN
75%,5.000000,NaN,NaN,NaN,NaN,NaN
max,50.000000,NaN,NaN,NaN,NaN,NaN

Quick Analysis: 50% of Locations in London have between 1 and 5 shoe stores with the average being 7,1. 
Let's drop locations wtih less than 7 Shoe stores.

In [117]:
# Get names of indexes for which column Shoe store has value less than 7
indexNames = df_lon3[df_lon3['Shoe store'] < 7 ].index
 
# Delete these row indexes from dataFrame
df_lon3.drop(indexNames , inplace=True)
df_lon3

,Location,Borough,Lat,Lng,Shoe store,Art gallery,College and University,Cafe,Vegetarian Vegan Restaurant,Travel and Transport
0,Fitzrovia,Camden,51.518529819132,-0.13784759302216,50.0,NaN,NaN,NaN,NaN,NaN
1,Soho,Westminster,51.517585379522,-0.13500343088978,50.0,NaN,NaN,NaN,NaN,NaN
2,Mayfair,Westminster,51.508826777815,-0.14977175677031,49.0,NaN,NaN,NaN,NaN,NaN
3,St James's,Westminster,51.508598701761,-0.1353704316591,48.0,NaN,NaN,NaN,NaN,NaN
4,Covent Garden,Westminster,51.512009617972,-0.12370182518566,47.0,NaN,NaN,NaN,NaN,NaN
5,Marylebone (also St Marylebone),Westminster,51.517813528559,-0.1494075869483,47.0,NaN,NaN,NaN,NaN,NaN
6,St Giles,Camden,51.517355462669,-0.1205994650938,40.0,NaN,NaN,NaN,NaN,NaN
7,Holborn,Camden,51.517355462669,-0.1205994650938,40.0,NaN,NaN,NaN,NaN,NaN
8,Aldwych,Westminster,51.512815974418,-0.11790391775668,39.0,NaN,NaN,NaN,NaN,NaN
9,Shepherd's Bush,Hammersmith and Fulham,51.503649663134,-0.22202608436881,33.0,NaN,NaN,NaN,NaN,NaN
10,Knightsbridge,Westminster,51.500066247724,-0.1645344220913,28.0,NaN,NaN,NaN,NaN,NaN
11,Stratford,Newham,51.5424103836,-0.0041961227921228,28.0,NaN,NaN,NaN,NaN,NaN
12,Belgravia,Westminster,51.500066247724,-0.1645344220913,28.0,NaN,NaN,NaN,NaN,NaN
13,Brompton,Kensington and ChelseaHammersmith and Fulham,51.500066247724,-0.1645344220913,28.0,NaN,NaN,NaN,NaN,NaN
14,White City,Hammersmith and Fulham,51.511781708593,-0.22459178074946,26.0,NaN,NaN,NaN,NaN,NaN
15,Charing Cross,Westminster,51.508368858456,-0.12096929668046,25.0,NaN,NaN,NaN,NaN,NaN
16,Kingston upon Thames,Kingston upon Thames,51.410412390141,-0.301856331081,20.0,NaN,NaN,NaN,NaN,NaN
17,Hampton Wick,Richmond upon Thames,51.41233455418,-0.3104130985014,19.0,NaN,NaN,NaN,NaN,NaN
18,Aldgate,City,51.51488143102,-0.078904677469267,19.0,NaN,NaN,NaN,NaN,NaN
19,Spitalfields,Tower Hamlets,51.516655105759,-0.077388723932787,18.0,NaN,NaN,NaN,NaN,NaN
20,Whitechapel,Tower Hamlets,51.516655105759,-0.077388723932787,18.0,NaN,NaN,NaN,NaN,NaN
21,Bromley,Bromley,51.407127964439,0.018665397884148,16.0,NaN,NaN,NaN,NaN,NaN
22,Brent Cross,Barnet,51.572060567748,-0.22657337348174,11.0,NaN,NaN,NaN,NaN,NaN
23,Kentish Town,Camden,51.544773686572,-0.14831394418134,11.0,NaN,NaN,NaN,NaN,NaN
24,Romford,Havering,51.5769439931,0.17772443651977,10.0,NaN,NaN,NaN,NaN,NaN
25,Poplar,Tower Hamlets,51.506710476914,-0.020166798512859,10.0,NaN,NaN,NaN,NaN,NaN
26,Canary Wharf,Tower Hamlets,51.50401465173,-0.020283652221094,10.0,NaN,NaN,NaN,NaN,NaN
27,Enfield Town,Enfield,51.651685258573,-0.08613628396674,9.0,NaN,NaN,NaN,NaN,NaN
28,Kensington,Kensington and Chelsea,51.500513420001,-0.193332350189,9.0,NaN,NaN,NaN,NaN,NaN
29,North Kensington,Kensington and Chelsea,51.500513420001,-0.193332350189,9.0,NaN,NaN,NaN,NaN,NaN
30,Sutton,Sutton,51.365706816987,-0.19864270167461,8.0,NaN,NaN,NaN,NaN,NaN

In [118]:
# Now we have only 30 locations left and can fill the rest of the table without getting out of the FourSquare free limit
nr_venues( '4bf58dd8d48988d1e2931735','Art gallery')
nr_venues('4d4b7105d754a06372d81259','College and University')
nr_venues('4bf58dd8d48988d16d941735','Cafe')
nr_venues('4bf58dd8d48988d1d3941735','Vegetarian Vegan Restaurant')
nr_venues('4d4b7105d754a06379d81259','Travel and Transport')
df_lon3

,Location,Borough,Lat,Lng,Shoe store,Art gallery,College and University,Cafe,Vegetarian Vegan Restaurant,Travel and Transport
0,Fitzrovia,Camden,51.518529819132,-0.13784759302216,50.0,49.0,46.0,50.0,18.0,37.0
1,Soho,Westminster,51.517585379522,-0.13500343088978,50.0,48.0,48.0,50.0,22.0,39.0
2,Mayfair,Westminster,51.508826777815,-0.14977175677031,49.0,48.0,23.0,50.0,2.0,43.0
3,St James's,Westminster,51.508598701761,-0.1353704316591,48.0,49.0,33.0,50.0,15.0,40.0
4,Covent Garden,Westminster,51.512009617972,-0.12370182518566,47.0,44.0,45.0,50.0,8.0,48.0
5,Marylebone (also St Marylebone),Westminster,51.517813528559,-0.1494075869483,47.0,48.0,43.0,50.0,6.0,38.0
6,St Giles,Camden,51.517355462669,-0.1205994650938,40.0,38.0,50.0,50.0,10.0,43.0
7,Holborn,Camden,51.517355462669,-0.1205994650938,40.0,38.0,50.0,50.0,10.0,43.0
8,Aldwych,Westminster,51.512815974418,-0.11790391775668,39.0,33.0,50.0,49.0,4.0,37.0
9,Shepherd's Bush,Hammersmith and Fulham,51.503649663134,-0.22202608436881,33.0,0.0,17.0,29.0,3.0,40.0
10,Knightsbridge,Westminster,51.500066247724,-0.1645344220913,28.0,16.0,15.0,49.0,0.0,35.0
11,Stratford,Newham,51.5424103836,-0.0041961227921228,28.0,3.0,9.0,24.0,1.0,47.0
12,Belgravia,Westminster,51.500066247724,-0.1645344220913,28.0,16.0,15.0,49.0,0.0,35.0
13,Brompton,Kensington and ChelseaHammersmith and Fulham,51.500066247724,-0.1645344220913,28.0,16.0,15.0,49.0,0.0,35.0
14,White City,Hammersmith and Fulham,51.511781708593,-0.22459178074946,26.0,4.0,13.0,26.0,1.0,28.0
15,Charing Cross,Westminster,51.508368858456,-0.12096929668046,25.0,44.0,43.0,50.0,3.0,45.0
16,Kingston upon Thames,Kingston upon Thames,51.410412390141,-0.301856331081,20.0,4.0,20.0,40.0,2.0,34.0
17,Hampton Wick,Richmond upon Thames,51.41233455418,-0.3104130985014,19.0,1.0,4.0,29.0,2.0,30.0
18,Aldgate,City,51.51488143102,-0.078904677469267,19.0,19.0,44.0,50.0,16.0,48.0
19,Spitalfields,Tower Hamlets,51.516655105759,-0.077388723932787,18.0,36.0,42.0,50.0,18.0,49.0
20,Whitechapel,Tower Hamlets,51.516655105759,-0.077388723932787,18.0,36.0,42.0,50.0,18.0,49.0
21,Bromley,Bromley,51.407127964439,0.018665397884148,16.0,0.0,0.0,13.0,0.0,18.0
22,Brent Cross,Barnet,51.572060567748,-0.22657337348174,11.0,1.0,1.0,4.0,0.0,7.0
23,Kentish Town,Camden,51.544773686572,-0.14831394418134,11.0,14.0,11.0,35.0,9.0,28.0
24,Romford,Havering,51.5769439931,0.17772443651977,10.0,0.0,4.0,32.0,0.0,37.0
25,Poplar,Tower Hamlets,51.506710476914,-0.020166798512859,10.0,0.0,12.0,32.0,1.0,32.0
26,Canary Wharf,Tower Hamlets,51.50401465173,-0.020283652221094,10.0,0.0,14.0,37.0,2.0,36.0
27,Enfield Town,Enfield,51.651685258573,-0.08613628396674,9.0,0.0,4.0,14.0,1.0,16.0
28,Kensington,Kensington and Chelsea,51.500513420001,-0.193332350189,9.0,12.0,19.0,40.0,2.0,36.0
29,North Kensington,Kensington and Chelsea,51.500513420001,-0.193332350189,9.0,12.0,19.0,40.0,2.0,36.0
30,Sutton,Sutton,51.365706816987,-0.19864270167461,8.0,1.0,4.0,8.0,0.0,18.0

In [119]:
df_lon3.describe()

,Shoe store,Art gallery,College and University,Cafe,Vegetarian Vegan Restaurant,Travel and Transport
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,25.903226,20.322581,24.354839,38.677419,5.677419,35.709677
std,14.656864,19.156178,17.511041,14.201848,6.784232,10.159375
min,8.000000,0.000000,0.000000,4.000000,0.000000,7.000000
25%,11.000000,1.000000,11.500000,30.500000,1.000000,33.000000
50%,25.000000,16.000000,19.000000,49.000000,2.000000,37.000000
75%,39.500000,38.000000,43.000000,50.000000,9.500000,43.000000
max,50.000000,49.000000,50.000000,50.000000,22.000000,49.000000

Now we can calculate overall rating for the top locations as agreed with the client: Shoe store with weighting coefficient of 0,5 and the rest with 0,1

In [120]:
df_lon3['Rating'] = df_lon3['Shoe store']*0.5 + (df_lon3['Art gallery']+df_lon3['College and University']+
                                                 df_lon3['Cafe']+df_lon3['Vegetarian Vegan Restaurant']+
                                                 df_lon3['Travel and Transport'] )*0.1
df_lon3.sort_values(['Rating'], ascending=False, inplace=True)

In [121]:
df_lon3

,Location,Borough,Lat,Lng,Shoe store,Art gallery,College and University,Cafe,Vegetarian Vegan Restaurant,Travel and Transport,Rating
1,Soho,Westminster,51.517585379522,-0.13500343088978,50.0,48.0,48.0,50.0,22.0,39.0,45.7
0,Fitzrovia,Camden,51.518529819132,-0.13784759302216,50.0,49.0,46.0,50.0,18.0,37.0,45.0
4,Covent Garden,Westminster,51.512009617972,-0.12370182518566,47.0,44.0,45.0,50.0,8.0,48.0,43.0
3,St James's,Westminster,51.508598701761,-0.1353704316591,48.0,49.0,33.0,50.0,15.0,40.0,42.7
5,Marylebone (also St Marylebone),Westminster,51.517813528559,-0.1494075869483,47.0,48.0,43.0,50.0,6.0,38.0,42.0
2,Mayfair,Westminster,51.508826777815,-0.14977175677031,49.0,48.0,23.0,50.0,2.0,43.0,41.1
6,St Giles,Camden,51.517355462669,-0.1205994650938,40.0,38.0,50.0,50.0,10.0,43.0,39.1
7,Holborn,Camden,51.517355462669,-0.1205994650938,40.0,38.0,50.0,50.0,10.0,43.0,39.1
8,Aldwych,Westminster,51.512815974418,-0.11790391775668,39.0,33.0,50.0,49.0,4.0,37.0,36.8
15,Charing Cross,Westminster,51.508368858456,-0.12096929668046,25.0,44.0,43.0,50.0,3.0,45.0,31.0
20,Whitechapel,Tower Hamlets,51.516655105759,-0.077388723932787,18.0,36.0,42.0,50.0,18.0,49.0,28.5
19,Spitalfields,Tower Hamlets,51.516655105759,-0.077388723932787,18.0,36.0,42.0,50.0,18.0,49.0,28.5
18,Aldgate,City,51.51488143102,-0.078904677469267,19.0,19.0,44.0,50.0,16.0,48.0,27.2
10,Knightsbridge,Westminster,51.500066247724,-0.1645344220913,28.0,16.0,15.0,49.0,0.0,35.0,25.5
13,Brompton,Kensington and ChelseaHammersmith and Fulham,51.500066247724,-0.1645344220913,28.0,16.0,15.0,49.0,0.0,35.0,25.5
12,Belgravia,Westminster,51.500066247724,-0.1645344220913,28.0,16.0,15.0,49.0,0.0,35.0,25.5
9,Shepherd's Bush,Hammersmith and Fulham,51.503649663134,-0.22202608436881,33.0,0.0,17.0,29.0,3.0,40.0,25.4
11,Stratford,Newham,51.5424103836,-0.0041961227921228,28.0,3.0,9.0,24.0,1.0,47.0,22.4
14,White City,Hammersmith and Fulham,51.511781708593,-0.22459178074946,26.0,4.0,13.0,26.0,1.0,28.0,20.2
16,Kingston upon Thames,Kingston upon Thames,51.410412390141,-0.301856331081,20.0,4.0,20.0,40.0,2.0,34.0,20.0
17,Hampton Wick,Richmond upon Thames,51.41233455418,-0.3104130985014,19.0,1.0,4.0,29.0,2.0,30.0,16.1
29,North Kensington,Kensington and Chelsea,51.500513420001,-0.193332350189,9.0,12.0,19.0,40.0,2.0,36.0,15.4
28,Kensington,Kensington and Chelsea,51.500513420001,-0.193332350189,9.0,12.0,19.0,40.0,2.0,36.0,15.4
23,Kentish Town,Camden,51.544773686572,-0.14831394418134,11.0,14.0,11.0,35.0,9.0,28.0,15.2
26,Canary Wharf,Tower Hamlets,51.50401465173,-0.020283652221094,10.0,0.0,14.0,37.0,2.0,36.0,13.9
25,Poplar,Tower Hamlets,51.506710476914,-0.020166798512859,10.0,0.0,12.0,32.0,1.0,32.0,12.7
24,Romford,Havering,51.5769439931,0.17772443651977,10.0,0.0,4.0,32.0,0.0,37.0,12.3
21,Bromley,Bromley,51.407127964439,0.018665397884148,16.0,0.0,0.0,13.0,0.0,18.0,11.1
27,Enfield Town,Enfield,51.651685258573,-0.08613628396674,9.0,0.0,4.0,14.0,1.0,16.0,8.0
30,Sutton,Sutton,51.365706816987,-0.19864270167461,8.0,1.0,4.0,8.0,0.0,18.0,7.1
22,Brent Cross,Barnet,51.572060567748,-0.22657337348174,11.0,1.0,1.0,4.0,0.0,7.0,6.8

In [122]:
df_lon3.dtypes

Location                        object
Borough                         object
Lat                             object
Lng                             object
Shoe store                     float64
Art gallery                    float64
College and University         float64
Cafe                           float64
Vegetarian Vegan Restaurant    float64
Travel and Transport           float64
Rating                         float64
dtype: object

Create a map of London with neighborhoods superimposed on top.

In [123]:
address = 'London, UK'

geolocator = Nominatim(user_agent="lon_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of London are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of London are 51.5073219, -0.1276474.

In [124]:
df_lon3['Lat']=df_lon3['Lat'].astype(float)
df_lon3['Lng']=df_lon3['Lng'].astype(float)

In [125]:
map_london = folium.Map(location=[latitude, longitude], zoom_start=12.5)

# add markers to map
for lat, lng, borough, neighborhood, rating in zip(df_lon3['Lat'], df_lon3['Lng'], df_lon3['Borough'], df_lon3['Location'], df_lon3['Rating']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=rating*0.7,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  
    
map_london

Results and Discussion

So, the bests locations are Soho, Fitzrovia and Covent Garden